<!html lang="en" class="h-100">
<head>
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/leaf.svg">
   
   @Html.Partial("~/views/shared/_Libs.cshtml");

    <style>
        #sidebar {
            display: none;
        }

        .dropbtn {
            background-color: rgba(0, 0, 0, 0);
            color: #aaa;
            padding: 10px;
            font-size: 22px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            color: #d9d9d9;
            background-color: #191919;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: white;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: right;
            }

                .dropdown-content a:hover {
                    background-color: #515151;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            color: #F1F1F1;
        }

        .navbar-nav > li {
            font-size: 22px;
            font-weight: 500;
        }


        .upcolerli {
            color: blue !important;
            font-weight: 600 !important;
            font-size: 18px !important;
            border-radius: 6px !important;
        }

        #sidebar ul li a {
            font-size: 17px !important;
            color: #671e1e;
            text-decoration: none;
        }

        }

        .detail-subtitle {
            color: gold !important;
        }
    </style>
</head>
<script>
    var EMPS = [];
    var s = null;
</script>

@{
    Int32 userId = 0;
}
@if (Request.Cookies["UserId"] != null)
{
    userId = Int32.Parse(Request.Cookies["UserId"].Value);
}
<script>
    var EMPS = [];
    EMPS = EmpGet(@userId);
    //console.log(EMPS);
    var sql = `
    select e.FileNumber,a.* from Attendances a join Employees e on a.EmployeeId=e.id
where (TimeFrom='' or TimeTo='') and DateFrom<dateadd(day,-3,GETDATE())
and
(
    ( DATEPART(day,DateFrom)<26 and  datefrom>=cast(cast(DATEPART(YEAR,GETDATE())as varchar(4))+'-'+cast(DATEPART(MONTH,dateadd(month,-1,GETDATE())) as varchar(2))+'-'+'26' as datetime))
    or
    ( DATEPART(day,DateFrom)>=26 and  datefrom>=cast(cast(DATEPART(YEAR,GETDATE())as varchar(4))+'-'+cast(DATEPART(MONTH,GETDATE()) as varchar(2))+'-'+'26' as datetime))
)
`

</script>
<body class="d-flex flex-column h-100">
    <div id="page" style="display: block">
        <div class="wrapper">
            @Html.Partial("~/views/shared/_SideBar.cshtml");
            <div id="bodywrapper" class="container-fluid showhidetoggle">
                @Html.Partial("~/views/shared/_NavBar.cshtml");
                <div class="content">
                    <center>
                        @RenderBody()
                    </center>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-1 mx-4">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">

                Copyright © (I.T. Nassar Group) 2022
                <script>
                    //document.write(new Date().getFullYear())
                </script>
            </span>
        </div>
    </footer>
    <div id="loading" class="spinner-border text-primary align-middle" role="status" style="display: none;"></div>
    <button class="btn btn-sm btn-primary rounded-circle" onclick="scrollToTopFunction()" id="scrollToTop" title="Scroll to top" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="16 12 12 8 8 12"></polyline><line x1="12" y1="16" x2="12" y2="8"></line></svg>
    </button>
    <!--script src="~/assets/js/feather.min.js"></script-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/script.js?version=2.1"></script>
    <script src="~/assets/js/anijs.js"></script>
    <script src="~/assets/js/anijs-helper-scrollreveal.js"></script>
    <script type="text/javascript">
        //$('#sidebarCollapse').click();
        document.addEventListener("DOMContentLoaded", function (event) {
            $("#page").show()
        });
        function logOut() {
            EMPS = [];
            location.href = "/home/logout";
        }
        /*
        var source = new EventSource("/SSE/SSE_CNT");
        source.onmessage = function (event) {
            console.log(event.data);
        }
        source.onerror = function (event) {
                console.log(event.data);
            }
            */
        /*if (window.Worker) {
           console.log('Your browser support web workers.');
          const myWorker = new Worker("/assets/worker.js");
               myWorker.onmessage = function (e) {
               //console.log(e.data)
               var v=JSON.parse(e.data).filter(e=>EMPS.includes(e.FileNumber))
               console.log(v.length)

               if(v.length==0){ $("#noti").hide()}
               else{
                   $("#noti").show();
                   $("#noti").html(v.length)
                   }
               //console.log()
               //console.log('Message received from worker');

           }
       } else {
           console.log('Your browser doesn\'t support web workers.');
       }*/
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</!html>