<html lang="en" class="h-100">
@Html.Partial("_Header")
<script>
    var EMPS = [];
    var s = null;
</script>

@{
    Int32 userId = 0;
}
@if (Request.Cookies["UserId"] != null)
{
    userId = Int32.Parse(Request.Cookies["UserId"].Value);
}
else
{
    Response.Redirect("~/home/log");
}

<script>
    var EMPS = [];
    var ROLES = [];
    EMPS = EmpGet(@userId);
    ROLES = RolesGet(@userId);
    console.log(ROLES);
    console.log(EMPS);
    var sql = `
    select e.FileNumber,a.* from Attendances a join Employees e on a.EmployeeId=e.id
where (TimeFrom='' or TimeTo='') and DateFrom<dateadd(day,-3,GETDATE())
and
(
    ( DATEPART(day,DateFrom)<26 and  datefrom>=cast(cast(DATEPART(YEAR,GETDATE())as varchar(4))+'-'+cast(DATEPART(MONTH,dateadd(month,-1,GETDATE())) as varchar(2))+'-'+'26' as datetime))
    or
    ( DATEPART(day,DateFrom)>=26 and  datefrom>=cast(cast(DATEPART(YEAR,GETDATE())as varchar(4))+'-'+cast(DATEPART(MONTH,GETDATE()) as varchar(2))+'-'+'26' as datetime))
)
`

</script>
<body class="d-flex flex-column h-100">
    <div id="page" style="display: block">
        <div class="wrapper">
            @Html.Partial("_SideBar")
            <div id="bodywrapper" class="container-fluid showhidetoggle">
                @Html.Partial("_NavBar");
                <div class="content" style="margin-top: 70px;">
                    <center>
                        @RenderBody()
                    </center>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-1 mx-4">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">

                Copyright © (I.T. Nassar Group) 2022
                <script>
                    //document.write(new Date().getFullYear())
                </script>
            </span>
        </div>
    </footer>
    <div id="loading" class="spinner-border text-primary align-middle" role="status" style="display: none;"></div>
    <button class="btn btn-sm btn-primary rounded-circle" onclick="scrollToTopFunction()" id="scrollToTop" title="Scroll to top" style="display: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="16 12 12 8 8 12"></polyline><line x1="12" y1="16" x2="12" y2="8"></line></svg>
    </button>
    <!--script src="~/assets/js/feather.min.js"></script-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/script.js?version=9.3"></script>
    <script src="~/assets/js/anijs.js"></script>
    <script src="~/assets/js/anijs-helper-scrollreveal.js"></script>
    <script type="text/javascript">
        //$('#sidebarCollapse').click();
        document.addEventListener("DOMContentLoaded", function (event) {
            //feather.replace();
            //console.log("old loaded");
            $("#page").show()
        });
        function logOut() {
            EMPS = [];
            location.href = "/home/logout";
        }
        /*
        var source = new EventSource("/sse/sse2");
        source.onmessage = function(event) {
            console.log(event.data);
        }
        source.onerror = function(event) {
            console.log(event);
        }
        */
        let da = readSQL("select * from ak_training()")
        if (da.length >= 0) {
            $("#noti").show();
            $("#noti").html(da.length)
        }
        else {
            $("#noti").hide()
        }
        /*fetch("/noti/InOutNoti")
     .then((x) => x.json())
     .then((y) => {
       console.log(y.length);
       if(y.length==0)
       {
            $("#noti2").hide()
        }
        else
        {
           //$("#noti").show()
           $("#noti2").html(y.length)
        }
     }); */
        if (window.Worker) {
            //console.log('Your browser support web workers.');
            /*const myWorker = new Worker("/noti/InOutNoti");
                 myWorker.onmessage = function (e) {
                 console.log(e)
                 var v=JSON.parse(e.data).filter(e=>EMPS.includes(e.FileNumber))
                 console.log(v.length)

                 if(v.length==0){ $("#noti").hide()}
                 else{

                     }
                 //console.log()
                 //console.log('Message received from worker');
              }*/

        }
        else {
            console.log('Your browser doesn\'t support web workers.');
        }

    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>