@model IEnumerable<Model.ViewModel.AdditionApprovalVM>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Id = Session["login"].ToString();
    var User = Services.UserService.GetById(int.Parse(Id));
    var role = Services.RoleService.GetById(int.Parse(User.RoleId.ToString()));
}
Advanced / Approved Overtime


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="card">
    <div class="row container">
        <div class="col-md-9 mt-4" style="text-align:left !important">
            @if (role.Additional_Approval == RoleStatus.Full || role.Additional_Approval == RoleStatus.Add)
            {
                @Html.ActionLink("Create New Approved Overtime", "Create", "AdditionApproval", htmlAttributes: new { @class = "btn btn-primary" })
            }

        </div>
        <div style="text-align:right !important" class="col-md-3">
            <input class="mt-4  ml-2 form-control input-sm w-100" onkeyup="myFunction()" id="myInput" type="search" placeholder="search...." aria-controls="add-row-table">
            <br />
        </div>

    </div>
    <div class="">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="example-1">
                <thead>
                   
                    <tr>
                        <th style="display: none;">#</th>
                        <th style="text-align:center">#</th>
                        <th style="text-align:center">
                            Employee No
                            <input class="form-control" id="EmployeeNo" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            File No
                            <input class="form-control" id="FileNo" type="text" placeholder="Search..">
                        </th>
                        <th style="text-align:center">
                            Type
                            <input class="form-control" id="Type" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Class
                            <input class="form-control" id="Class" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Division
                            <input class="form-control" id="Division" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Sub Division
                            <input class="form-control" id="SubDivision" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Area
                            <input class="form-control" id="Area" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Sub Area
                            <input class="form-control" id="SubArea" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Department
                            <input class="form-control" id="Department" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Location
                            <input class="form-control" id="Location" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Employee Name
                            <input class="form-control" id="EmployeeName" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Authorizor
                            <input class="form-control" id="Authorizor" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Number of hours
                            <input class="form-control" id="Numberofhours" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Date
                            <input class="form-control" id="Date" type="text" placeholder="Search..">

                        </th>

                        @if (role.Additional_Approval == RoleStatus.Full || role.Additional_Approval == RoleStatus.Edit)
                        {
                            <th style="text-align:center">Edit</th>
                        }

                    </tr>
                </thead>
                <tbody id="myTable">
                    @{ int count = 1;}
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td style="text-align:center">@(count)</td>

                        <td style="text-align:center">@Html.DisplayFor(ww => item.EmployeeNo)</td>

                        <td style="text-align:center">@Html.DisplayFor(ww => item.FileNo)</td>

                        <td style="text-align:center">@Html.DisplayFor(ww => item.Type)</td>
                        <td style="text-align:center">@Html.DisplayFor(ww => item.Class)</td>
                        <td style="text-align:center">@Html.DisplayFor(ww => item.Division)</td>
                        <td style="text-align:center">@Html.DisplayFor(ww => item.SubDivision)</td>
                        <td style="text-align:center">@Html.DisplayFor(ww => item.Area)</td>
                        <td style="text-align:center">@Html.DisplayFor(ww => item.SubArea)</td>
                        <td style="text-align:center">@Html.DisplayFor(ww => item.Department)</td>
                        <td style="text-align:center">@Html.DisplayFor(ww => item.Location)</td>

                        <td style="text-align:center">@Html.DisplayFor(ww => item.Name)</td>

                        <td style="text-align:center">@Html.DisplayFor(ww => item.NameOfPerson)</td>

                        <td style="text-align:center">@Html.DisplayFor(ww => item.NoOfHour)</td>

                        <td style="text-align:center">@Html.DisplayFor(ww => item.Date)</td>

                        @if (role.Additional_Approval == RoleStatus.Full || role.Additional_Approval == RoleStatus.Edit)
                        {
                            <td style="text-align:center">

                                @Html.ActionLink("Edit", "Edit", "AdditionApproval", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                            </td>
                        }
                    </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>


<script src="~/assets2/js/min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#EmployeeNo").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#FileNo").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Type").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Class").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Division").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#SubDivision").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Area").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#SubArea").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Department").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Location").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#EmployeeName").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<script>
    var t = document.title;
    document.title = t + " Index Addition Approval "
</script>
<script>
    $(function () {
        var lenght = $('#myTable tr').length;
        console.log(lenght);
        if (lenght > 10) {
            $('.table-responsive').css('overflow', "scroll");
            $('.table-responsive').css('height', "700px")

        }
        else {
            $('.table-responsive').css('overflow', "hidden");

        }

    })
</script>