@{@model Vacation
Layout = "~/Views/Shared/_Layout.cshtml";
}
Master Data /Vacation / Update Vacation  @Model.Id

<div class="card">
    <form action="/Vacation/Edit" enctype="multipart/form-data" method="post" novalidate="novalidate">
        <div class="container">
            <div class="card-header row" style="  padding-left: 0;padding-right: 0;">
                <div class="col-md-6" style="padding-left:0">
                    <h5 class="text-capitalize btn">Vacation</h5>
                </div>
                <div class="col-md-6" style="text-align:right; padding-right:0">
                    <a class="btn btn-primary" href="/Vacation/Index?Length=8" style="border-radius: 0px 0px 2px 30px;">Back to index</a>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">ID</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(ww => ww.Id, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Id", disabled = "true" } })
                            @Html.ValidationMessageFor(ww => ww.Id, "", htmlAttributes: new { @class = "text-danger" })
                            <input type="number" value="@Model.Id" name="Id" hidden />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Name</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(ww => ww.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Name of vacation" } })
                            @Html.ValidationMessageFor(ww => ww.Name, "", htmlAttributes: new { @class = "text-danger" })
                        </div>
                    </div>
                   
                </div>
 <div class="col-md-6">
 <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Date</label>
                        <div class="col-sm-8">
                            <input type="date" name="Date" id="Date" value="@ViewBag.Date" class="form-control form-control-sm" />
                            @Html.ValidationMessageFor(ww => ww.Date, "", htmlAttributes: new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Attendance Value</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(ww => ww.AttendanceValue, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Attendance Value" } })
                            @Html.ValidationMessageFor(ww => ww.AttendanceValue, "", htmlAttributes: new { @class = "text-danger" })
                        </div>
                    </div>
</div>


            </div>

            <div class="row mb-3 mt-3">
                <div class="col-md-12">
                    <button class="btn btn-primary" id="demo">Update</button>
                </div>
            </div>


        </div>
    </form>
</div>

<script type="text/javascript" src="~/bower_components/jquery/js/jquery.min.js"></script>



<script>
    let t = document.title;

    document.title = t + " - " + "Edit Vacation";
</script>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

