@model Model.Month
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="card">
        <div class="container">
            <div class="card-header row" style="  padding-left: 0;padding-right: 0;">
                <div class="col-md-6" style="padding-left:0">
                    <h5 class="text-capitalize btn">Month</h5>
                    <!--<div class="card-header-right">
                    <i class="icofont icofont-rounded-down"></i>
                    <i class="icofont icofont-refresh"></i>
                    <i class="icofont icofont-close-circled"></i>
                </div>-->
                </div>
                <div class="col-md-6" style="text-align:right; padding-right:0">
                    <a class="btn btn-primary" href="/Month/Index?Length=7" style="
    border-radius: 0px 0px 2px 30px;
">Back to index</a>

                </div>
            </div>
        </div>
        <div class="card-block">
            <!-- Row start -->
            <div class="row m-b-30">

                <div class="col-lg-12 col-xl-12 col-sm-12">
                    <!--<div class="sub-title">Default</div>-->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Personal" role="tab">Month</a>
                            <div class="slide"></div>
                        </li>

                    </ul>
                    <!-- Tab panes -->
                    <!-- start tab one-->
                    <div class="tab-content card-block">
                        <div class="tab-pane active" id="Personal" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form>

                                            <div class="form-group row">
                                                @Html.LabelFor(ww => ww.Start, htmlAttributes: new { @class = "col-sm-2 col-form-label col-form-label-sm" })
                                                <div class="col-sm-10">
                                                    @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                    @Html.EditorFor(ww => ww.Start, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Start" } })
                                                    @Html.ValidationMessageFor(ww => ww.Start, "", htmlAttributes: new { @class = "text-danger" })

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                @Html.LabelFor(ww => ww.End, htmlAttributes: new { @class = "col-sm-2 col-form-label col-form-label-sm" })
                                                <div class="col-sm-10">
                                                    @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                    @Html.EditorFor(ww => ww.End, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "End" } })
                                                    @Html.ValidationMessageFor(ww => ww.End, "", htmlAttributes: new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab one-->
                    </div>
                </div>

            </div>
            <!-- Row end -->
            <!-- Row start -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="text-align:left">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>

                </div>
            </div>

            <!-- Row end -->
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>