@model Role
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
Administration / Role / Update Role No @Model.Id

<!-- Data Table Css -->
<link rel="stylesheet" type="text/css" href="~/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/assets2/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="~/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="~/assets2/pages/dashboard/horizontal-timeline/css/style.css">
@using (Html.BeginForm("Edit", "Role", FormMethod.Post))
{
    <div class="card">
        <div class="container">
            <div class="card-header row" style="  padding-left: 0;padding-right: 0;">
                <div class="col-md-6" style="padding-left:0">
                    <h5 class="text-capitalize btn">Roles</h5>
                </div>
                <div class="col-md-6" style="text-align:right; padding-right:0">
                    <a class="btn btn-primary" href="/Role/Index?Length=8" style="border-radius: 0px 0px 2px 30px;">Back to index</a>

                </div>
            </div>
        </div>
        <!--start advansed-->
        <div class="container mt-5">
            <div class="row ">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8 offset-md-r-4">
                            <div class="form-group row ">
                                <label for="colFormLabelLg" class="col-md-4 col-form-label col-form-label-sm">Name</label>
                                <div class="col-md-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="Add New Role">*@
                                    @Html.EditorFor(ww => ww.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Name" } })
                                    @Html.ValidationMessageFor(ww => ww.Name, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-8" hidden>

                                @Html.EditorFor(ww => ww.Id, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Name" } })
                                @Html.EditorFor(ww => ww.IsCreated)

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 offset-md-r-4">
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-md-4 col-form-label-sm">Mark All As</label>
                                <div class="col-md-8">
                                    <select name="All" class="custom-select form-control-md w-100 " id="inlineFormCustomSelectPref">
                                        <option value="@null" selected="">Choose...</option>
                                        <option value="@RoleStatus.Not_Access">Not Acsess</option>
                                        <option value="@RoleStatus.Edit">Edit</option>
                                        <option value="@RoleStatus.Full">Full</option>

                                        <option value="@RoleStatus.Add">Add</option>
                                        <option value="@RoleStatus.Read_Only">Read Only</option>

                                    </select>
                                </div>


                            </div>
                        </div>

                    </div>
                    <div class="row ">

                        <div class=" col-md-12">

                            <div class="card-block">
                                <div>
                                    <input class="form-control mb-4" id="myInput" type="text" placeholder="Search..">
                                    <div class="dt-responsive table-responsive" style="height:350px">
                                        <table id="row-select" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Role Authorized</th>
                                                    <th>Status</th>

                                                </tr>
                                            </thead>
                                            <tbody id="myTable">
                                                <tr>
                                                    <td>1</td>
                                                    <td>Employees</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Employee, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Basic Pay Work Time</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">

                                                            @Html.EnumDropDownListFor(x => x.Basic_Bay_Work, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>

                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>3</td>
                                                    <td>Shift</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Shift, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Vacation</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Vacation, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Delay</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Delay, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>6</td>
                                                    <td>Delay Penatly Role</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Sanction, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>Income Tax Leves</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Taxes, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>Attendances</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Attendance, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>Absences</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Absence, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>Salary Sheet Calculations</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Salary_Sheet, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>11</td>
                                                    <td>Import Master Data</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Import_Master_Data, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>Import Monthly Attendances</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Import_Monthly_Attendances, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>13</td>
                                                    <td>Payment and Deductions</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Payment, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>14</td>
                                                    <td> Approved Overtime</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Additional_Approval, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>15</td>
                                                    <td>Users</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Create_New_User, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>



                                                <tr>
                                                    <td>16</td>
                                                    <td>Roles</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.role, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>17</td>
                                                    <td>Setting Table</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.Settings, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>18</td>
                                                    <td>Advanced Overtime</td>
                                                    <td>
                                                        <div class="form-group  m-0 " style="text-align: center;">
                                                            @Html.EnumDropDownListFor(x => x.OverTime, new { @class = "custom-select form-control-sm col-md-8" })
                                                        </div>
                                                    </td>

                                                </tr>

                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="row mt-4 mb-4">
                            <button class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script type="text/javascript" src="~/bower_components/jquery/js/jquery.min.js"></script>
<script src="~/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets2/pages/data-table/js/jszip.min.js"></script>
<script src="~/assets2/pages/data-table/js/pdfmake.min.js"></script>
<script src="~/assets2/pages/data-table/js/vfs_fonts.js"></script>
<script src="~/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script>

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        // tittle
        var t = document.title;
        document.title = t + "- Edit Role"
    });

</script>


