@model IEnumerable<Role>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string Id = Session["login"].ToString();
    var User = Services.UserService.GetById(int.Parse(Id));
    var role = Services.RoleService.GetById(int.Parse(User.RoleId.ToString()));
}
Administration / Role 



@if (Model != null)
{
    <div class="card">

        <div class="">
            <div class="row container">
                <div class="col-md-9 mt-4">
                    @if (role.role == RoleStatus.Full || role.role == RoleStatus.Add)
                    {
                        @Html.ActionLink("Create New Role", "Create", "Role", htmlAttributes: new { @class = "btn btn-primary" })
                    }
                </div>
                <div style="text-align:right !important" class="col-md-3 mt-4">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                    <br>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="example-1">
                    <thead>
                        <tr>
                            <th style="display: none;">#</th>
                            <th style="text-align:center">#</th>
                            <th style="text-align:center">
                                Id
                                <input class="form-control" id="Id" type="text" placeholder="Search..">

                            </th>
                            <th style="text-align:center">
                                Name

                                <input class="form-control" id="Name" type="text" placeholder="Search..">

                            </th>
                            <th style="text-align:center">
                                Employee
                                <input class="form-control" id="Employee" type="text" placeholder="Search..">

                            </th>
                            <th style="text-align:center">
                                Basic Pay Work Time
                                <input class="form-control" id="BasicPayWorkTime" type="text" placeholder="Search..">

                            </th>
                            @*<th style="text-align:center">Social Insurance</th>*@
                        <th style="text-align:center">
                            Shif
                            <input class="form-control" id="Shift" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Vacation
                            <input class="form-control" id="Vacation" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Delay
                            <input class="form-control" id="Delay" type="text" placeholder="Search..">

                        </th>

                        <th style="text-align:center">
                            Delay Penatly Role
                            <input class="form-control" id="DelayPenatlyRole" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Income Tax Leves
                            <input class="form-control" id="IncomeTaxLeves" type="text" placeholder="Search..">

                        </th>

                        <th style="text-align:center">
                            Attendance

                            <input class="form-control" id="Attendance" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Absence

                            <input class="form-control" id="Absence" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Salary Sheet Calculations

                            <input class="form-control" id="SalarySheetCalculations" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Implort Data
                            <input class="form-control" id="ImplortData" type="text" placeholder="Search..">

                        </th>

                        <th style="text-align:center">
                            Payment and Deductions

                            <input class="form-control" id="PaymentandDeductions" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Addition Approval
                            <input class="form-control" id="AdditionApproval" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Advanced Overtime
                            <input class="form-control" id="AdvancedOvertime" type="text" placeholder="Search..">

                        </th>

                        <th style="text-align:center">
                            Users
                            <input class="form-control" id="Users" type="text" placeholder="Search..">

                        </th>

                        <th style="text-align:center">
                            Roles
                            <input class="form-control" id="Roles" type="text" placeholder="Search..">

                        </th>
                        <th style="text-align:center">
                            Setting Table
                            <input class="form-control" id="Roles" type="text" placeholder="Search..">

                        </th>

                            @if (role.role == RoleStatus.Full || role.role == RoleStatus.Edit)
                            {
                                <th style="text-align:center">
                                    Edit

                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @{ int count = 1;}
                        @foreach (var item in Model)
                        {
                        <tr>

                            <td style="text-align:center">@(count)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Id)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Name)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Employee)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Basic_Bay_Work)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Shift)</td>

                            @*<td style="text-align:center">@Html.DisplayFor(ww => item.Social_Insurance)</td>*@
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Vacation)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Delay)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Sanction)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Taxes)</td>

                            <td style="text-align:center">@Html.DisplayFor(ww => item.Attendance)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Absence)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Salary_Sheet)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Import_Master_Data)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Payment)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Additional_Approval)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.OverTime)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Create_New_User)</td>

                            <td style="text-align:center">@Html.DisplayFor(ww => item.role)</td>
                            <td style="text-align:center">@Html.DisplayFor(ww => item.Settings)</td>
                            @if (role.role == RoleStatus.Full || role.role == RoleStatus.Edit)
                            {
                                <td style="text-align:center">
                                    @Html.ActionLink("Edit", "Edit", "Role", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                                </td>
                            }
                        </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>

}

else
{
    <script>
        alert("There is no data")
    </script>
}
<script type="text/javascript" src="~/bower_components/jquery/js/jquery.min.js"></script>
<script src="~/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script>


    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        ////
        $("#Id").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Name").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Employee").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#BasicPayWorkTime").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Shif").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Vacation").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Delay").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#DelayPenatlyRole").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#IncomeTaxLeves").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Attendance").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Absence").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#SalarySheetCalculations").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#ImplortData").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#PaymentandDeductions").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#AdditionApproval").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#AdvancedOvertime").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Users").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#Roles").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#SettingTable").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        // tittle
        var t = document.title;
        document.title = t + '- Index Role'
    });
</script>
<script>
    $(function () {
        var lenght = $('#myTable tr').length;
        console.log(lenght);
        if (lenght > 10) {
            $('.table-responsive').css('overflow', "scroll");
            $('.table-responsive').css('height', "700px")

        }
        else {
            $('.table-responsive').css('overflow', "hidden");
            $('.table-responsive').css('overflow-x', "scroll");


        }

    })
</script>



