@model Model.Payment
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}

Advanced / Payment /Create New Payment 

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>
@using (Html.BeginForm("Create", "Payment", FormMethod.Post))
{

    <div class="card">
        <div class="container">
            <div class="card-header row" style="  padding-left: 0;padding-right: 0;">
                <div class="col-md-6" style="padding-left:0">
                    <h5 class="text-capitalize btn">Payment</h5>
                </div>
                <div class="col-md-6" style="text-align:right; padding-right:0">
                    <a class="btn btn-primary" href="/Payment/Index?Length=8" style="
    border-radius: 0px 0px 2px 30px;
">Back to index</a>
                    @*<button type="submit" class="btn btn-primary ">Add</button>*@
                </div>
            </div>
        </div>
        <!--start advansed-->
        <div class="container mt-5">
            <div class="row ">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">File Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control gg" id="colFormLabel" name="EmployeeNo" readonly placeholder="Select Value..."><span class="ion-navicon-round aa" style="position: absolute;right:22px;top:6px; cursor: pointer;">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">First Name</label>
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label">*@
                                    @Html.EditorFor(ww => ww.Employee.FirstName, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "First Name", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.FirstName, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.LastName, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                                @*<label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Middel Name</label>*@
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.Employee.LastName, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Last Name", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.LastName, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.Personal.Status, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                                @*<label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Middel Name</label>*@
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.Employee.Personal.Status.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Status", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.Personal.Status.Name, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.TypeEmployeeId, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                                @*<label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Middel Name</label>*@
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.Employee.TypeEmployee.Value, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Type", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.TypeEmployee.Value, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.ClassId, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                                
                                <div class="col-sm-8">
                                    
                                    @Html.EditorFor(ww => ww.Employee.Class.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Class", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.Class.Name, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>*@
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.Personal.PersonalArea, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                                @*<label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Middel Name</label>*@
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.Employee.Personal.PersonalArea, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Personal Area", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.Personal.PersonalArea, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.Personal.PersonalSubArea, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                                @*<label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Middel Name</label>*@
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.Employee.Personal.PersonalSubArea, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Personal Sub Area", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.Personal.PersonalSubArea, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.Personal.Division, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                                @*<label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Middel Name</label>*@
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.Employee.Personal.Division, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Division", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.Personal.Division, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.Personal.SubDivision, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                                @*<label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Middel Name</label>*@
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.Employee.Personal.SubDivision, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Sub Division", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.Personal.SubDivision, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.FileNumber, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })

                                <div class="col-sm-8">

                                    @Html.EditorFor(ww => ww.Employee.FileNumber, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "File Number", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.FileNumber, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>*@

                            <div class="form-group row">
                                @Html.LabelFor(ww => ww.Employee.ClassId, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })
                                @*<label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Middel Name</label>*@
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.Employee.Class.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Class", disabled = "true" } })
                                    @Html.ValidationMessageFor(ww => ww.Employee.Class.Name, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">Date</label>
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control" id="colFormLabel" placeholder="col-form-label">*@
                                    @Html.EditorFor(ww => ww.Date, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                    @Html.ValidationMessageFor(ww => ww.Date, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="padding-top: 0;">
            <!-- Row start -->
            <div class="row ">

                <div class="col-lg-12 col-xl-12 col-sm-12">
                    <!--<div class="sub-title">Default</div>-->
                    <!-- Nav tabs -->
                  
                    <!-- Tab panes -->
                    <!-- start tab one-->
                    <div class="tab-content ">
                        <div class="tab-pane active" style="margin-top:0" id="Personal" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">


                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Recurring /One Time</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.RecurringOneTime, ViewBag.Recurring as SelectList, "Select Value", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                            </div>
                                        </div>
                                     
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Payment/Deduction</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.PaymentDeduction, ViewBag.PaymentDeduction as SelectList, "Select Value", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })

                                            </div>
                                        </div>
                                    


                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Total/Net</label>
                                            <div class="col-sm-8">
                                                @Html.EnumDropDownListFor(ww => ww.TotalNet, "Select Value",htmlAttributes: new { @class = "custom-select form-control-sm w-100" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-4 col-form-label">Amount</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Amount, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Amount", id = "Amount" } })
                                                @Html.ValidationMessageFor(ww => ww.Amount, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-4 col-form-label">Amount by hours</label>
                                            <div class="col-sm-8">
                                                <input type="number" class = "form-control form-control-sm" id="AmountByDays" Placeholder = "Amount by hours" disabled/>
                                            </div>
                                        </div>



                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-sm">Remarks</label>
                                            <div class="col-sm-10">
                                                @*<textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5"></textarea>*@
                                                @Html.TextAreaFor(ww => ww.Remarkes, htmlAttributes: new { @class = "form-control rounded-0", id = "exampleFormControlTextarea2", rows = "5" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab one-->


                    </div>
                </div>

            </div>
        </div>


        <!-- Row end -->
        <!-- Row start -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @*<button type="submit" class="btn btn-primary ">Add</button>*@
                    <label class="btn btn-primary" onclick="AddPayment()">Add</label>
                </div>

            </div>
        </div>

        <!-- Row end -->
    </div>

}

<div class="card cardee ff" style="display: none; border:4px solid #7FB9D4" id="dialog">
    <div class="card-block ff scrolltop">

        <div class="row ">
            <div class="col-md-9">
                <input class="mt-4  ml-0 form-control input-sm w-50" onkeyup="myFunction()" id="myInput" type="search" placeholder="search...." aria-controls="add-row-table">
                <br />

            </div>
            <div style="text-align:right !important; cursor:pointer" class="col-md-3">
                <i class="fa fa-times-circle fa-2x closee" aria-hidden="true"></i>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped " id="">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Choose</th>

                    </tr>
                </thead>
                <tbody id="myTable" class="k">
                    @foreach (var item in ViewBag.Employees)
                    {
                        <tr>
                            <th class="idd">@item.FileNumber</th>
                            <td>@item.FirstName @item.MidelName @item.LastName</td>
                            <td class="tabledit-view-mode hh">
                                <button class="btn btn-primary choose btnSelect"> choose</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<script type="text/javascript" src="~/bower_components/jquery/js/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    //Min.js
    $(document).ready(function () {

        $('#Amount').change(function () {
            let value = $('#Amount').val();
            if (value < 0) {
                alert('لا يمكن ادخال قيمه اقل من الصفر فى هذا الحقل')
                $('#Amount').val('');
            }
        })

        $('#AmountByDays').change(function () {
            $.ajax({
                type: 'POST',
                url: 'GetSalaryOfMonth',
                dataType: 'json',
                data: { id: $('.gg').val() },
                success: function (mems) {
                    if (mems != 0)
                        $('#Amount').val(mems * $('#AmountByDays').val());
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        })

        $('.alert').fadeOut(8000),
            $('.close').click(function () {
                $('.alert').hide()
            })
        $('.zz').on('click', function () {
            $(function () {
                $("#di").dialog({
                    width: 700,
                    height: 500,
                    closeOnEscape: false,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close", ui.dialog || ui).hide();
                    }
                    /*appendTo: '<div class="card-header"><h5>Edit With Button</h5><span>Click on buttons to perform actions</span><div class="card-header-right"><i class="icofont icofont-rounded-down"></i><i class="icofont icofont-refresh"></i><i class="icofont icofont-close-circled"></i></div></div><div class="card-block"><div class="table-responsive"><table class="table table-striped table-bordered" id="example-2"><thead><tr><th>emp ID</th><th>First name</th><th>Last name</th><th>Choose</th></tr></thead><tbody><tr><th scope="row" class=""><input id="idd"></th><td>Islam</td><td>Ahmed</td><td class="tabledit-view-mode hh"><!-- <select id="dropdownList"><option value="1">Option 1</option> <option value="2">Option 2</option><option value="3">Option 3</option><option value="4">Option 4</option><option value="5">Option 5</option></select>--><button class="btn btn-primary" id="choose"> choose</button></td></tr></tbody></table></div></div>'*/
                });


            });
        });
        $('.aa').on('click', function () {
            $(function () {
                $("#dialog").dialog({
                    width: 700,
                    height: 500,
                    closeOnEscape: false,
                    open: function (event, ui) {
                        $(".ui-dialog-titlebar-close", ui.dialog || ui).hide();
                    }
                    /*appendTo: '<div class="card-header"><h5>Edit With Button</h5><span>Click on buttons to perform actions</span><div class="card-header-right"><i class="icofont icofont-rounded-down"></i><i class="icofont icofont-refresh"></i><i class="icofont icofont-close-circled"></i></div></div><div class="card-block"><div class="table-responsive"><table class="table table-striped table-bordered" id="example-2"><thead><tr><th>emp ID</th><th>First name</th><th>Last name</th><th>Choose</th></tr></thead><tbody><tr><th scope="row" class=""><input id="idd"></th><td>Islam</td><td>Ahmed</td><td class="tabledit-view-mode hh"><!-- <select id="dropdownList"><option value="1">Option 1</option> <option value="2">Option 2</option><option value="3">Option 3</option><option value="4">Option 4</option><option value="5">Option 5</option></select>--><button class="btn btn-primary" id="choose"> choose</button></td></tr></tbody></table></div></div>'*/
                });


            });
        });
        $('#dropdownList').on('change', function () {
            var optionText = $("#dropdownList option:selected").val();
            alert("Selected Option Text: " + optionText);
            $('.gg').val(optionText)
        });

        $("#myTable").on('click', '.btnSelect', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var col1 = currentRow.find("th:eq(0)").text(); // get current row 1st TD value

            var data = col1;


            // alert(data);

            // alert(data);
            $('.gg').val(data);
            $('#dialog').hide()

            if ($('#colFormLabel').val() != 'Select Value...') {
                $.ajax({
                    type: 'POST',
                    url: 'GetEmployeeData',
                    dataType: 'json',
                    data: { id: $('.gg').val() },
                    success: function (mems) {
                        $('#Employee_FirstName').val(mems.FName);
                        $('#Employee_LastName').val(mems.LName);
                        $('#Employee_Personal_Status_Name').val(mems.Status);
                        $('#Employee_TypeEmployee_Value').val(mems.Type);
                        $('#Employee_Class_Name').val(mems.Class);
                        $('#Employee_Personal_PersonalArea').val(mems.PersonnelArea);
                        $('#Employee_Personal_PersonalSubArea').val(mems.PersonnelSubArea);
                        $('#Employee_Personal_Division').val(mems.Division);
                        $('#Employee_Personal_SubDivision').val(mems.SubDivision);
                        $('#Employee_FileNumber').val(mems.FileNo);
                        $('#AmountByDays').removeAttr("disabled");
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
            }

        });
        $("#xx").on('click', '.btnSelect', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var col1 = currentRow.find("th:eq(0)").text(); // get current row 1st TD value

            var data = col1;

            $('.ll').val(data);
            $('#di').hide()
        });
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
        $("#nn").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#xx tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });





    });

    //My functions

    $('#colFormLabel').change(function () {
        if ($('#colFormLabel').val() != 'Select Value...') {
            $.ajax({
                type: 'POST',
                url: 'GetEmployeeData',
                dataType: 'json',
                data: { id: $('#colFormLabel').val() },
                success: function (mems) {
                    $('#Employee_FirstName').val(mems.FName);
                    $('#Employee_LastName').val(mems.LName);
                    $('#Employee_Personal_Status_Name').val(mems.Status);
                    $('#Employee_TypeEmployee_Value').val(mems.Type);
                    $('#Employee_Class_Name').val(mems.Class);
                    $('#Employee_Personal_PersonalArea').val(mems.PersonnelArea);
                    $('#Employee_Personal_PersonalSubArea').val(mems.PersonnelSubArea);
                    $('#Employee_Personal_Division').val(mems.Division);
                    $('#Employee_Personal_SubDivision').val(mems.SubDivision);
                    $('#Employee_FileNumber').val(mems.FileNo);
                    $('#AmountByDays').removeAttr("disabled");
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        }
        else {
            Clear()
        }
    })

    function Clear() {
        $('#Employee_FirstName').val('');
        $('#Employee_LastName').val('');
        $('#Employee_Personal_Status_Name').val('');
        $('#Employee_TypeEmployee_Value').val('');
        $('#Employee_Class_Name').val('');
        $('#Employee_Personal_PersonalArea').val('');
        $('#Employee_Personal_PersonalSubArea').val('');
        $('#Employee_Personal_Division').val('');
        $('#Employee_Personal_SubDivision').val('');
        $('#Employee_FileNumber').val('');
        $('#AmountByDays').prop("disabled", true);

    }

    function AddPayment() {
        $.ajax({
            type: 'POST',
            url: 'AddPayment',
            dataType: 'json',
            data: {
                Date: $('#Date').val(),
                RecurringOneTime: $('#RecurringOneTime').val(),
                WageCode: $('#WageCode').val(),
                PaymentDeduction: $('#PaymentDeduction').val(),
                Amount: $('#Amount').val(),
                Remarks: $('#exampleFormControlTextarea2').val(),
                TotalNet: $('#TotalNet').val(),
                Currency: $('#Currency').val(),
                EmployeeNo: $('#colFormLabel').val()
            },
            success: function (mems) {
                if (mems == true) {
                    //$("body").append('<div class="alert alert-primary" role = "alert" >Data is Saved</div>');

                    $("body").append(`
<div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -169px;"><div class="sa-icon sa-error" style="display: none;">
      <span class="sa-x-mark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
      </span>
    </div><div class="sa-icon sa-warning" style="display: none;">
      <span class="sa-body"></span>
      <span class="sa-dot"></span>
    </div><div class="sa-icon sa-info" style="display: none;"></div><div class="sa-icon sa-success animate" style="display: block;">
      <span class="sa-line sa-tip animateSuccessTip"></span>
      <span class="sa-line sa-long animateSuccessLong"></span>

      <div class="sa-placeholder"></div>
      <div class="sa-fix"></div>
    </div><div class="sa-icon sa-custom" style="display: none;"></div><h2>Good job!</h2>
    <p style="display: block;">You clicked the button!</p>
    <fieldset>
      <input type="text" tabindex="3" placeholder="">
      <div class="sa-input-error"></div>
    </fieldset><div class="sa-error-container">
      <div class="icon">!</div>
      <p>Not valid!</p>
    </div><div class="sa-button-container">
      <button class="cancel" tabindex="2" style="display: none;">Cancel</button>
      <div class="sa-confirm-button-container">
        <button class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">OK</button><div class="la-ball-fall">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div></div>`);
                    $('.confirm').on('click', function () {
                        $('.showSweetAlert').hide()
                    })
                    $('.alert').hide(8000);
                    Clear();
                    $('#colFormLabel').val('Select Value...');
                    $('#Date').val('');
                    $('#RecurringOneTime').val('');
                    $('#WageCode').val('');
                    $('#PaymentDeduction').val('');
                    $('#Amount').val('');
                    $('#exampleFormControlTextarea2').val('');
                    $('#TotalNet').val('');
                    $('#Currency').val('');
                    $('#colFormLabel').val('');

                }
                else
                    $("body").append(`
<div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -169px;"><div class="sa-icon sa-error" style="display: none;">
      <span class="sa-x-mark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
      </span>
    </div><div class="sa-icon sa-warning" style="display: block;">
      <span class="sa-body"></span>
      <span class="sa-dot"></span>
    </div><div class="sa-icon sa-info" style="display: none;"></div><div class="sa-icon sa-success animate" style="display: none;">
      <span class="sa-line sa-tip animateSuccessTip"></span>
      <span class="sa-line sa-long animateSuccessLong"></span>

      <div class="sa-placeholder"></div>
      <div class="sa-fix"></div>
    </div><div class="sa-icon sa-custom" style="display: none;"></div><h2>Good job!</h2>
    <p style="display: block;">You clicked the button!</p>
    <fieldset>
      <input type="text" tabindex="3" placeholder="">
      <div class="sa-input-error"></div>
    </fieldset><div class="sa-error-container">
      <div class="icon">!</div>
      <p>Not valid!</p>
    </div><div class="sa-button-container">
      <button class="cancel" tabindex="2" style="display: none;">Cancel</button>
      <div class="sa-confirm-button-container">
        <button class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">OK</button><div class="la-ball-fall">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div></div>`);
                $('.confirm').on('click', function () {
                    $('.showSweetAlert').hide()
                })
            },
            error: function (ex) {
                $("body").append(`
<div class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-animation="pop" data-timer="null" style="display: block; margin-top: -169px;"><div class="sa-icon sa-error" style="display: none;">
      <span class="sa-x-mark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
      </span>
    </div><div class="sa-icon sa-error animateErrorIcon" style="display: block;">
      <span class="sa-x-mark animateXMark">
        <span class="sa-line sa-left"></span>
        <span class="sa-line sa-right"></span>
      </span>
    </div>
<div class="sa-icon sa-info" style="display: none;"></div><div class="sa-icon sa-success animate" style="display: none;">
      <span class="sa-line sa-tip animateSuccessTip"></span>
      <span class="sa-line sa-long animateSuccessLong"></span>

      <div class="sa-placeholder"></div>
      <div class="sa-fix"></div>
    </div><div class="sa-icon sa-custom" style="display: none;"></div><h2>Error</h2>
    <p style="display: block;">You clicked the button!</p>
    <fieldset>
      <input type="text" tabindex="3" placeholder="">
      <div class="sa-input-error"></div>
    </fieldset><div class="sa-error-container">
      <div class="icon">!</div>
      <p>Not valid!</p>
    </div><div class="sa-button-container">
      <button class="cancel" tabindex="2" style="display: none;">Cancel</button>
      <div class="sa-confirm-button-container">
        <button class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">OK</button><div class="la-ball-fall">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div></div>`);
                $('.confirm').on('click', function () {
                    $('.showSweetAlert').hide()
                })
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        /* $(window).load('/jquery/getdata', // url
             {
                 name: 'bill'
             }, // data
             function(data, status, jqXGR) { // callback function
                 alert('data loaded');
             });*/

        $('.alert').fadeOut(8000),
            $('.close').click(function () {
                $('.alert').hide()
            })
        $('.closee').click(function () {
            $('.cardee').hide()
        })
    });
</script>
<script>
    var t = document.title;
    document.title = t + " - " + "Create Payment"
</script>
<script>
    $(function () {
        $('.aa').click(function () {
            var tr = $('.k ').find('tr').length;
            console.log(tr)

            if (tr >= 6) {

                $('.table-responsive').css('overflow-y', "scroll");
                $('.table-responsive').css('height', "340px")
            }
            else {
                $('.table-responsive').css('overflow', "hidden");

            }
        })
    })
</script>