@model Model.Employee
@{
    ViewBag.Title = "Advanced Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
Master Data / Employee / Create New Employee 

<div class="card">
    @using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="card-header row" style="  padding-left: 0;padding-right: 0;">
                <div class="col-md-6" style="padding-left:0">
                    <h5 class="text-capitalize btn">Employee</h5>
                </div>
                <div class="col-md-6" style="text-align:right; padding-right:0">
                    <a class="btn btn-primary" href="/Employee/Index?Length=8" style="border-radius: 0px 0px 2px 30px;">Back to index</a>
                    @*<button type="submit" class="btn btn-primary ">Add</button>*@
                </div>
            </div>
        </div>
        <!--start advansed-->
        <div class="container mt-5">
            <div class="row card-block">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">Employee No</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" Placeholder="Employee Number" name="EmployeeNo" value="@Model.EmployeeNo" id="EmployeeNo" disabled />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">First Name</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(ww => ww.FirstName, new { htmlAttributes = new { @class = "form-control", Placeholder = "First Name" } })
                                    @Html.ValidationMessageFor(ww => ww.FirstName, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Middel Name</label>
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.MidelName, new { htmlAttributes = new { @class = "form-control", Placeholder = "Midel Name" } })
                                    @Html.ValidationMessageFor(ww => ww.MidelName, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Last Name</label>
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.LastName, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Last Name" } })
                                    @Html.ValidationMessageFor(ww => ww.LastName, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Known As</label>
                                <div class="col-sm-8">
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                    @Html.EditorFor(ww => ww.KnownAs, new { htmlAttributes = new { @class = "form-control", Placeholder = "Known As" } })
                                    @Html.ValidationMessageFor(ww => ww.KnownAs, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">File No.</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(ww => ww.FileNumber, new { htmlAttributes = new { @class = "form-control", Placeholder = "File Number", required = "true", onchange = "CheckIfUniq(this)" } })
                                    @Html.ValidationMessageFor(ww => ww.FileNumber, "", htmlAttributes: new { @class = "text-danger" })
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Bank Code.</label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(ww => ww.BankCode, new { htmlAttributes = new { @class = "form-control", Placeholder = "Bank Code"} })
                                    @Html.ValidationMessageFor(ww => ww.BankCode, "", htmlAttributes: new { @class = "text-danger" })
                                    @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group row">
                                <label for="Job Title" class="col-sm-4 col-form-label-sm">Job Title</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(ww => ww.JobTitleId, ViewBag.jobTitles as SelectList, "Select Job Title", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Department</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(ww => ww.DepartementId, ViewBag.departement as SelectList, "Select Department", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Type</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(ww => ww.TypeEmployeeId, ViewBag.type as SelectList, "Select Type", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Class</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(ww => ww.ClassId, ViewBag.classes as SelectList, "Select Class", htmlAttributes: new { @class = "custom-select form-control-sm  w-100" })
                                </div>
                            </div>
                            <div class="form-group row" hidden>
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Company</label>
                                <div class="col-sm-8">

                                    @Html.DropDownListFor(ww => ww.CompanyId, ViewBag.company as SelectList, "Select Company", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Location</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(ww => ww.LocationId, ViewBag.location as SelectList, "Select Location", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm"> Ratio Worker Profits</label>
                                <div class="col-sm-8">
                                    @*<input placeholder=" ratio worker  profits" class="form-control text-box single-line" data-val="true" data-val-required="this is required" id=" ratio worker  profits" name=" ratioworkerprofits" type="text" value="">*@
                                    @Html.EditorFor(ww => ww.RatioWorkerProfits, new { htmlAttributes = new { @class = "form-control", Placeholder = "Ratio Worker Profits" } })
                                    @Html.ValidationMessageFor(ww => ww.RatioWorkerProfits, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            @*<form runat="">*@
                            <input type='file' id="imgInp" name="ImagePath"/>
                            <div class="border" style="width:100%;height:250px">
                                <img id="blah" src="#" alt="your image" style="width:100%;height:100%" />

                            </div>
                            @*</form>*@


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end advansed-->
        <div class="card-block">
            <!-- Row start -->
            <div class="row m-b-30">

                <div class="col-lg-12 col-xl-12 col-sm-12">
                    <!--<div class="sub-title">Default</div>-->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs flex-column-sm" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Personal" role="tab" style="font-size: 12px;">Personal</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Finance" role="tab" style="font-size: 12px;">Finance</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Administration" role="tab" style="font-size: 12px;">Administration</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Address" role="tab" style="font-size: 12px;">Address</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#genral" role="tab" style="font-size: 12px;">General</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Attachments" role="tab" style="font-size: 12px;">Attachments</a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Remarks" role="tab" style="        font-size: 11px;
        font-weight: 500;
">Job Description/Remarks </a>
                            <div class="slide"></div>
                        </li>

                    </ul>
                    <!-- Tab panes -->
                    <!-- start tab one-->

                    <div class="tab-content card-block">
                        <div class="tab-pane active" id="Personal" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Age</label>
                                            <div class="col-sm-8">
                                                @*<input type="number" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.Personal.Age, new { htmlAttributes = new { @class = "form-control", Placeholder = "Age" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.Age, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Gender</label>
                                            <div class="col-sm-8">
                                                @Html.EnumDropDownListFor(x => x.Personal.Gender, "Select Gender", new { @class = "custom-select form-control-sm w-100" })


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Time Shit</label>
                                            <div class="col-sm-8">
                                                @Html.EnumDropDownListFor(x => x.Personal.TimeShit, "Select Time Shit", new { @class = "custom -select form-control-sm w-100" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Employee Group</label>
                                            <div class="col-sm-8">

                                                @Html.DropDownListFor(ww => ww.Personal.EmployeeGroupId, ViewBag.employeeGroup as SelectList, "Select Employee Group", htmlAttributes: new { @class = "custom-select form-control-sm  w-100" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Employee Sub-Group</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Personal.EmployeeSubGroupId, ViewBag.employeeSubGroup as SelectList, "Select Employee Sub-Group", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Payrol Area</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Personal.PayllorAreaId, ViewBag.payllor as SelectList, "Employee Payrol Area", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Joining Date</label>
                                            <div class="col-sm-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.Personal.JoiningDate, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Joining Date" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.JoiningDate, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Date Of Birth</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Personal.DateOfBirth, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Date of birth" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.DateOfBirth, "", htmlAttributes: new { @class = "text-danger" })
                                                @*<input type="date" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Martal Status</label>
                                            <div class="col-sm-8">
                                                @Html.EnumDropDownListFor(x => x.Personal.MaritalStatus, " select Martal Status", new { @class = "custom-select form-control-sm w-100" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">No. of Children</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Personal.NumberOfChildren, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Number Of Children" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.NumberOfChildren, "", htmlAttributes: new { @class = "text-danger" })
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Status</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Personal.StatusId, ViewBag.status as SelectList, " select bStatus", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Personal Area</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Personal.PersonalArea, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Personal Area" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.PersonalArea, "", htmlAttributes: new { @class = "text-danger" })
                                                @* <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Personal Sub Area</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Personal.PersonalSubArea, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Personal Sub Area" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.PersonalSubArea, "", htmlAttributes: new { @class = "text-danger" })
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Division</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Personal.Division, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Division" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.Division, "", htmlAttributes: new { @class = "text-danger" })
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Sub Division</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Personal.SubDivision, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Sub Division" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.SubDivision, "", htmlAttributes: new { @class = "text-danger" })
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Insurance Start Date</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Personal.StartDate, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Start Date" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.StartDate, "", htmlAttributes: new { @class = "text-danger" })
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Off Date</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Personal.OffDate, new { htmlAttributes = new { @class = "form-control", Placeholder = "Off Date" } })
                                                @Html.ValidationMessageFor(ww => ww.Personal.OffDate, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Nationality</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Personal.NationalityId, ViewBag.national as SelectList, "select Nationality", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Relgion</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Personal.ReligionId, ViewBag.religion as SelectList, "select Relgion ", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="Cost Cente" class="col-sm-4 col-form-label col-form-label-sm">Cost Center</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Personal.CostCenterId, ViewBag.costCenters as SelectList, "select cost center", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end tab one-->
                        <!-- start tab two-->
                        <div class="tab-pane" id="Finance" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Promotion History</label>
                                            <div class="col-sm-8">
                                                @*<textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5"></textarea>*@
                                                @Html.TextAreaFor(ww => ww.Finance.PromotionHistory, htmlAttributes: new { @class = "form-control rounded-0", Placeholder = "Promotion History", rows = "5" })
                                                @Html.ValidationMessageFor(ww => ww.Finance.PromotionHistory, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Increase History</label>
                                            <div class="col-sm-8">
                                                @Html.TextAreaFor(ww => ww.Finance.IncreaseHistory, htmlAttributes: new { @class = "form-control rounded-0", Placeholder = "Increase History", rows = "5" })
                                                @Html.ValidationMessageFor(ww => ww.Finance.IncreaseHistory, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Bonus History</label>
                                            <div class="col-sm-8">
                                                @Html.TextAreaFor(ww => ww.Finance.BonusHistory, htmlAttributes: new { @class = "form-control rounded-0", Placeholder = "Bonus History", rows = "5" })
                                                @Html.ValidationMessageFor(ww => ww.Finance.BonusHistory, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Transfer History</label>
                                            <div class="col-sm-8">
                                                @Html.TextAreaFor(ww => ww.Finance.TransferHistory, htmlAttributes: new { @class = "form-control rounded-0", Placeholder = "Transfer History", rows = "5" })
                                                @Html.ValidationMessageFor(ww => ww.Finance.TransferHistory, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Gross Or Net</label>
                                            <div class="col-sm-8">
                                                @Html.EnumDropDownListFor(x => x.Finance.GrossOrNet, "select Gross", new { @class = "custom-select form-control-sm w-100" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Cash / Bank</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Finance.CashOrBankId, ViewBag.cashOrBanks as SelectList, "select Cash / Bank", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Bank Account</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Finance.BankAccountId, ViewBag.bankAccount as SelectList, "select Bank Account", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Account No.</label>
                                            <div class="col-sm-8">
                                                @Html.EditorFor(ww => ww.Finance.AccountNo, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Account No" } })
                                                @Html.ValidationMessageFor(ww => ww.Finance.AccountNo, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Medical Cover</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Finance.MedicalCoverId, ViewBag.medicalCover as SelectList, "select Medical Cover", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Live Cover</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Finance.LiveCoverId, ViewBag.liveCover as SelectList, "select live cover", htmlAttributes: new { @class = "custom-select form-control-sm w-100 " })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Event type</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Finance.EventTypeId, ViewBag.eventTypes as SelectList, "select Event type", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Reasson for event</label>
                                            <div class="col-sm-8">
                                                @Html.DropDownListFor(ww => ww.Finance.ReasonForEventId, ViewBag.reasonForEvent as SelectList, "select Resasson for event ", htmlAttributes: new { @class = "form-control form-control-sm" })
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end tab two-->
                        <!--start tab three-->
                        <div class="tab-pane" id="Administration" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8">

                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Previous Years of experience</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.Administration.PreviousYearsOfExperience, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Previous Years Of Experience" } })
                                                @Html.ValidationMessageFor(ww => ww.Administration.PreviousYearsOfExperience, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Total Years of experience</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.Administration.TotalYearsOfExperience, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Total Years Of Experience" } })
                                                @Html.ValidationMessageFor(ww => ww.Administration.TotalYearsOfExperience, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Contract Type</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(ww => ww.Administration.ContractTypeId, ViewBag.contractType as SelectList, "select Contract Type ", htmlAttributes: new { @class = "custom-select form-control form-control-sm w-100" })
                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end tab three-->
                        <!--start tab adddres-->
                        <div class="tab-pane" id="Address" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Mobile Phone</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.Address.MobilePhone, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Mobile Phone" } })
                                                @Html.ValidationMessageFor(ww => ww.Address.MobilePhone, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Home Phone</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(ww => ww.Address.HomePhone, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Home Phone" } })
                                                @Html.ValidationMessageFor(ww => ww.Address.HomePhone, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">E-mail</label>
                                            <div class="col-md-8">
                                                @* <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.Address.Email, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "E-email" } })
                                                @Html.ValidationMessageFor(ww => ww.Address.HomePhone, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Home Street</label>
                                            <div class="col-sm-8">
                                                @*<textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5"></textarea>*@
                                                @Html.TextAreaFor(ww => ww.Address.HomeStreet, htmlAttributes: new { @class = "form-control rounded-0", Placeholder = "Home Street" })
                                                @Html.ValidationMessageFor(ww => ww.Address.HomeStreet, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-md-6">
                                        <form>
                                            <div class="form-group row">
                                                <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Home City</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(ww => ww.Address.HomeCityId, ViewBag.homeCities as SelectList, "select home city", htmlAttributes: new { @class = "custom-select form-control form-control-sm w-100" })

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Home Country</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(ww => ww.Address.HomeCountryId, ViewBag.homeCountries as SelectList, "select home country", htmlAttributes: new { @class = "custom-select form-control form-control-sm w-100" })

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Country Of Birth</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(ww => ww.Address.CountryOfBirthId, ViewBag.countryOfBirth as SelectList, "select country of birth", htmlAttributes: new { @class = "custom-select form-control form-control-sm w-100" })

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Ctizenship</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(ww => ww.Address.CitizenshipId, ViewBag.citizenship as SelectList, "select Ctizenship", htmlAttributes: new { @class = "custom -select form-control form-control-sm w-100" })

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Place of Birth</label>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(ww => ww.Address.PlaceOfBirthId, ViewBag.placeOfBirth as SelectList, "select Place of Birth", htmlAttributes: new { @class = "custom -select form-control form-control-sm w-100" })

                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--end tab sddres-->
                        <div class="tab-pane" id="genral" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">ID Issued by Authorities</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.IdIssuedByAuthorities, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Id Issued By Authorities" } })
                                                @Html.ValidationMessageFor(ww => ww.General.IdIssuedByAuthorities, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">ID No</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.IDNo, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "ID No" } })
                                                @Html.ValidationMessageFor(ww => ww.General.IDNo, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">License Number</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.LicenseNumber, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "License Number" } })
                                                @Html.ValidationMessageFor(ww => ww.General.LicenseNumber, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">License Termination Date</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.License_Termination_Date, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "License Termination Date" } })
                                                @Html.ValidationMessageFor(ww => ww.General.License_Termination_Date, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">License ExpiredDate</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.License_Expired_Date, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "License ExpiredDate" } })
                                                @Html.ValidationMessageFor(ww => ww.General.License_Expired_Date, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Passport No.</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.PassportNo, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Passport No" } })
                                                @Html.ValidationMessageFor(ww => ww.General.PassportNo, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Passport Issue Date</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.PassportIssueDate, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Passport Issue Date" } })
                                                @Html.ValidationMessageFor(ww => ww.General.PassportIssueDate, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Passport Expiration Date</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.PassportExiprationDate, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Passport Exipration Date" } })
                                                @Html.ValidationMessageFor(ww => ww.General.PassportExiprationDate, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Termination Date</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.TerminationDate, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Termination Date," } })
                                                @Html.ValidationMessageFor(ww => ww.General.TerminationDate, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Termination Reason</label>
                                            <div class="col-md-8">
                                                @*<input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.TerminationReason, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Termination Reason," } })
                                                @Html.ValidationMessageFor(ww => ww.General.TerminationReason, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Health Insurance Company Name</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(ww => ww.General.HealthInsuranceCompanyNameId, ViewBag.healthInsuranceCompanyName as SelectList, "select Health Insurance Company Name", htmlAttributes: new { @class = "custom -select form-control form-control-sm w-100" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Type of Health Insurance</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(ww => ww.General.TypeOfHealthInsuranceId, ViewBag.typeOfHealthInsurance as SelectList, "select Type of Health Insurance", htmlAttributes: new { @class = "custom -select form-control form-control-sm w-100" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Social Insurance Number</label>
                                            <div class="col-md-8">
                                                @* <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">*@
                                                @Html.EditorFor(ww => ww.General.SocialInsuranceNumber, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Social Insurance Number" } })
                                                @Html.ValidationMessageFor(ww => ww.General.SocialInsuranceNumber, "", htmlAttributes: new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Educational Status</label>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(ww => ww.General.EducationStatusId, ViewBag.educationalStatus as SelectList, "select Educational Status", htmlAttributes: new { @class = "custom-select form-control form-control-sm w-100" })
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="Attachments" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group row">
                                            <div class="col-md-12">

                                                <div class="form-group row">
                                                    <label for="colFormLabelSm" class="col-md-4 col-form-label col-form-label-sm">Select File</label>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.FilePaths, "", new { @type = "file", @multiple = "multiple", @id = "int", @class = "form-control form-control-sm hhh" })
                                                        @Html.ValidationMessageFor(model => model.FilePaths, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10 text-success">
                                                        @ViewBag.UploadStatus
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-bordered">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="display: none;text-align:center">#</th>
                                                                        <th style="text-align:center">#</th>
                                                                        <th style="text-align:center">Name</th>
                                                                        <th style="text-align:center">Path</th>
                                                                        <th style="text-align:center">Delete</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tab"></tbody>
                                                            </table>
                                                            <div id="NewRow"></div>
                                                        </div>

                                                    </div>
                                                    <div id="selectHidden" hidden></div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="Remarks" role="tabpanel">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-sm">Remarks</label>
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(ww => ww.Remark.Value, htmlAttributes: new
                                                {
                                                    @class = "form-control rounded-0",
                                                    Placeholder = "Enter your remarks her!!",
                                                    rows = "5",
                                               cols = "7"
                                                })
                                                @Html.ValidationMessageFor(ww => ww.Remark.Value, "", htmlAttributes: new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-sm">Job Description</label>
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(ww => ww.Remark.JobDescription, htmlAttributes: new
                                                {
                                                    @class = "form-control rounded-0",
                                                    Placeholder = "Enter your Job Description her!!",
                                                    rows = "5",
                                               cols = "7"
                                                })
                                                @Html.ValidationMessageFor(ww => ww.Remark.JobDescription, "", htmlAttributes: new { @class = "text-danger" })
                                                @*<div class="col-sm-10"><textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5" cols="7"></textarea></div>*@
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
            <!-- Row end -->
            <!-- Row start -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="text-align:left">
                        <input type="submit" class="btn btn-primary" value="Add" />
                    </div>

                </div>
            </div>

            <!-- Row end -->
        </div>
    }
</div>

<script type="text/javascript " src="~/bower_components/jquery/js/jquery.min.js "></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
        $(function () {
            $('#exampleFormControlFile1').change(function () {

                debugger;
                var x = this.value;



                var y = x.replace(/\\/g, '/');
                $("#img1").append("<img id='img1' src='http://localhost//" + y + "'/>");

            });

            $('#int').change(function () {
                $("#tab").empty();
                var files = this.files
                var filesObject = {}
                let x = files[0]
                console.log(x);
                for (var i = 0; i < files.length; i++) {
                    $("#tab").append('<tr id="' + (i + 1) + '"><td style="text-align:center">' + (i + 1) + '</td><td style="text-align:center" id="' + (i + 1) + 'name">' + files[i].name + '</td><td style="text-align:center">~/Files/' + files[i].name + '</td><td style="text-align:center"><label class="btn btn-danger" onclick=DeleteRow(' + (i + 1) + ')>Delete</label></td></tr>')
                }
            })
        })

        function Add_row() {
            $("#NewRow").append("")
        }

        function DeleteRow(e) {
            var x = $("#" + e + "name")[0].innerText
            $("#selectHidden").append("<input type='checkbox' name='NameOfFiles' value='"+ x +"' checked/>");
            $("#" + e).remove();


        }

        function AddFile(e) {
            console.log(e.val());
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddFile")',
                dataType: 'json',
                data: { id: e.val() },
                success: function (mems) {

                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        }

    function CheckIfUniq(e) {
        let value = e.value;
        debugger;
        $.ajax({
                type: 'POST',
                url: '@Url.Action("CheckFileNumber")',
                dataType: 'json',
                data: { value: value },
            success: function (mems) {
                if (mems.length != 0)
                    alert("this number is token for other employee his name is { " + mems[0].FirstName + " " + mems[0].MidelName + " " + mems[0].LastName + " }");
                },
            error: function (ex) {
                debugger
                    alert('Failed to retrieve states.' + ex);
                }
            });
    }

        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();

</script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
</script>
<script>
    var t = document.title;
    document.title = t + " - " + "Create Employee"
</script>




