
@{
    ViewBag.Title = "Report2";
}

<h2>meals</h2>
@if(Request.Cookies["Reports_Abs"]==null)
{
Response.Redirect("~/home/log");
}
@if(Int32.Parse(Request.Cookies["Reports_Abs"].Value)>1){

}else
{
   Response.Redirect("~/home/Index");
}

<button id="create" data-bs-toggle="modal" data-bs-target=".modal" class="btn btn-dark" onclick="$('#createBtn').show();
                    $('#updateBtn').hide();
                    $('input').val('');
                    $('select').val(-1);
                    $('textarea').val('');
                    $('#img').attr('src', '');">
        انشاء
    </button>
<hr>
<div id="container" style="overflow-x:auto">
    <table id="example" class="display" style="width:100%" dir="rtl">
        
    </table>
</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">بيانات العاملين</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="dialog-form">
                    <div class="container-fluid float-right">
                        <!-- #region -->
                        <div class="row m-2">
                            <div class="col-3 ps-4" style="position: relative;">
                                <img id="img" src="" alt="no pics"
                                     style="position: absolute; top: 0; left: 11px; width: 87%; height: 98%; border-radius: 10px; box-shadow: 4px 4px 10px black;" srcset="">
                                <input type="file" id="FileUpload1" style="width:0px;height:0px;" />
                            </div>
                            <div class="col-9">
                                <div class="row mb-2" dir=RTL>
                                    <div class="col-3">
                                        <label class="form-control">رقم الملف </label>
                                    </div>
                                    <div class="col-9">
                                        <input id="fileNo" name="fileNo" type=number class="form-control">
                                    </div>
                                </div>
                                <div class="row mb-2" dir=RTL>
                                    <div class="col-3">
                                        <label class="form-control"> الاسم</label>
                                    </div>
                                    <div class="col-9">
                                        <input id="name" name="name" type=text class="form-control">
                                    </div>
                                </div>

                                <div class="row mb-2" dir=RTL>
                                    <div class="col-3">
                                        <label class="form-control"> القسم</label>
                                    </div>
                                    <div class="col-9">
                                        <select id="deptId" name="deptId" class="form-control">
                                            <option style="text-align:right" value="0">بدون</option>
                                            @foreach (var row in db.Query(sql01))
                                            {
                                                <option style="text-align:right" value="@row.Id">@row.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="row mb-2" dir=RTL>
                                    <div class="col-2">
                                        <label class="form-control"> الوظيفة</label>
                                    </div>
                                    <div class="col-4">
                                        <select id="jobId" name="jobId" class="form-control">
                                            <option style="text-align:right" value="0">بدون</option>
                                            @foreach (var row in db.Query(sql02))
                                            {
                                                <option style="text-align:right" value="@row.Id">@row.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control"> التعليم</label>
                                    </div>
                                    <div class="col-4">
                                        <select id="eduId"  name="eduId" class="form-control">
                                            <option style="text-align:right" value="0">بدون</option>
                                            @foreach (var row in db.Query(sqlEdu))
                                            {
                                                <option style="text-align:right" value="@row.Id">@row.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="tabs">
                            <ul>
                                <li>
                                    <a href="#tab-0">البيانات الشخصية</a>
                                </li>
                               

                            </ul>
                            <div id="tab-0" style="margin-top: 40px;">
                                @*>البيانات الشخصية<*@
                                <div class="row m-2" dir=RTL>

                                    <div class="col-2">
                                        <label class="form-control"> تاريخ الميلاد</label>
                                    </div>
                                    <div class="col-4">
                                        <input id=birthDate name=birthDate type=date class="form-control">
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control">الخدمة العسكرية </label>
                                    </div>
                                    <div class="col-4">
                                        <select id="militId" name="militId" class="form-control">
                                            <option style="text-align:right" value="0">تم</option>
                                            <option style="text-align:right" value="1">لم يتم</option>
                                        </select>
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control"> رقم البطاقة</label>
                                    </div>
                                    <div class="col-4">
                                        <input id=idNo name=idNo type=text class="form-control">
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control">الديانة</label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" id="xreligion" name="xreligion">
                                            <option value="مسلم">مسلم</option>
                                            <option value="مسيحي">مسيحي</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control">EmployeeGroup</label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" id="EmployeeGroupId" name="EmployeeGroupId"></select>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control">EmployeeSubGroup</label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" id="EmployeeSubGroupId" name="EmployeeSubGroupId"></select>
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control">Level</label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" id="LevelId" name="LevelId"></select>
                                    </div>

                                    <div class="col-2">
                                        <label class="form-control">Location</label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" id="LocationId"  name="LocationId"></select>
                                    </div>
                                    <!-- new attributes -->

                                    <div class="col-2">
                                        <label class="form-control">Grade</label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" id="GradeId"  name="GradeId"></select>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control">class</label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" id="classid"  name="classid"></select>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control">Employee Type</label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" id="TypeEmployeeId" name="TypeEmployeeId"></select>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control">Company</label>
                                    </div>
                                    <div class="col-4">
                                        <select class="form-control" id="CompanyId" name="CompanyId"></select>
                                    </div>
                                    <!-- end new attributes -->

                                </div>
                            </div>
                            
                        </div>
                        <!-- #region -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button id=createBtn onclick="create()" class="btn btn-primary">انشاء</button>
                    <button id=updateBtn onclick="save()" class="btn btn-primary">حفظ</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var q0 = `select * from attendances where event=0`;
    var q1 = `select * from attendances where event=0`;
//console.log(q);
var v=readSQL(q0)
        let html=`
        <thead>
            <tr>
                <td>رقم الملف</td>
                <td>الاسم</td>
                <td>القسم</td>
                <td>مجموعة</td>
                <td>المقدم</td>
                <td>المستلم</td>
                <td>العدد</td>
            </tr>
        </thead>
        <tbody>
        `;
		  

            if(v.length==0)
            {
                html+=`<tr><td colspan="8">لا توجد بيانات</td></tr>`;
                $("#example").html(html);
                return;
            }
           
            for(let i=0;i<=v.length;i++)
            {
                //;
                try
                {
                    //console.log(v[i].fileNo);
                    html+=`<tr>
                 <td>${v[i].fileNo}</td>
                 <td>${v[i].name}</td>
                 <td>${v[i].department}</td>
                 <td>${v[i].installment.toFixed(2)}</td>
                 <td>${(v[i].installment*v[i].NUM).toFixed(2)}</td>
                 <td>${v[i].firstDate.substr(0,10)}</td>
                 <td>${v[i].LastDate.substr(0,10)}</td>
                 <td>${v[i].NUM}</td>
                 </tr>
                 ` 
                 sum+=(v[i].installment*v[i].NUM)
                }
                catch(e)
                {
                    console.log(e);
                }  
            }
            html+=`</tbody>
            <tfoot>
            <tr>
                <td colspan="4">الاجمــــــالي</td>
                <td>${sum.toFixed(2)}</td>
                <td colspan="3"></td>
            </tr>
        </tfoot>`;
            $("#example").html(html)
            var tb = $('#example').DataTable({
                stateSave: true,
                "destroy": true,
            });
            
    
</script>
