@model Taxes
@{
    ViewBag.Title = "create";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
Master data / Create New Income Tax Leves
@using (Html.BeginForm())
{
    <div class="card">
        <div class="container">
            <div class="card-header row" style="  padding-left: 0;padding-right: 0;">
                <div class="col-md-6" style="padding-left:0">
                    <h5 class="text-capitalize btn">Income Tax Leves</h5>
                </div>
                <div class="col-md-6" style="text-align:right; padding-right:0">
                    <a class="btn btn-primary" href="/Taxes/Index?Length=8" style="border-radius: 0px 0px 2px 30px;">Back to index</a>

                </div>
            </div>
        </div>
        <!--start advansed-->
        <div class="container mt-5">
            <div class="row card-block">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">name of slice</label>
                                <div class="col-sm-8">
                                    <input onchange="Calc()" type="text" id="name" name="NameOfSlice" class="form-control" placeholder="name of the slide" required>
                                    @* @Html.EditorFor(ww => ww.NameOfSlice, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "name of the slide", onchange = "Calc()", id = "name" } })*@
                                    @Html.ValidationMessageFor(ww => ww.NameOfSlice, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">Amount from</label>
                                <div class="col-sm-8">
                                    <input onchange="Calc()" placeholder="Amount from" id="from" class="form-control text-box single-line" data-val="true" required name="AmountFrom" type="number">
                                    @Html.ValidationMessageFor(ww => ww.AmountFrom, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabel" class="col-sm-4 col-form-label">Amount To</label>

                                <div class="col-sm-8">

                                    <input onchange="Calc()" placeholder="Amount To" id="to" class="form-control text-box single-line" data-val="true" required name="AmountTo" type="number">
                                    @Html.ValidationMessageFor(ww => ww.AmountTo, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Tax rate</label>
                                <div class="col-sm-8">

                                    <input onchange="Calc()" placeholder="Tax rate" id="rate" class="form-control form-control-sm text-box single-line" value="0" required name="TaxRate" type="number">
                                    @Html.ValidationMessageFor(ww => ww.TaxRate, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">discount percentage</label>
                                <div class="col-sm-8">
                                    <input onchange="Calc()" placeholder="discount percentage" id="descount" class="form-control text-box single-line" value="0" data-val="true" data-val-number="The field File Number must be a number." name="DiscountPercentage" type="number">
                                    @Html.ValidationMessageFor(ww => ww.DiscountPercentage, "", htmlAttributes: new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Amount of tax </label>
                                <div class="col-sm-8">
                                    <input placeholder="Amount of tax" disabled="disabled" class="form-control text-box single-line" required data-val="true" id="AmountofDiscount">
                                    <input name="AmountOfTax" id="AmountofDiscountt" type="number" hidden>
                                    @Html.ValidationMessageFor(ww => ww.AmountOfTax, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Amount of Discount</label>
                                <div class="col-sm-8">
                                    <input placeholder="File Number" disabled="disabled" class="form-control text-box single-line" data-val="true" data-val-number="The field File Number must be a number." id="Amountoftax" onchange="CheckIfUniq(this)" type="number">
                                    <input id="Amountoftaxx" name="AmountOfDiscount" type="number" hidden>
                                    @Html.ValidationMessageFor(ww => ww.AmountOfDiscount, "", htmlAttributes: new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Notes</label>
                                <div class="col-sm-8">
                                    <textarea placeholder="Enter your Job Description her!!" class="form-control rounded-0" cols="7" id="Remark_JobDescription" name="Notes" rows="5"></textarea>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Remark.JobDescription" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-6" style="text-align:left">
                            <input type="submit" class="btn btn-primary" id="submit" value="Add" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--end advansed-->


    </div>
}

<script type="text/javascript " src="~/bower_components/jquery/js/jquery.min.js "></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#checkbox").change(function () {
            //   alert();
            if (this.checked) {
                $("#descount").removeAttr("disabled");

            }
            else {
                $("#descount").attr("disabled", "");

            }
        });

    });
</script>
<script>



    function Calc() {
        let value1 = $('#name').val();
        let value2 = $('#from').val();
        let value3 = $('#to').val();
        let value4 = $('#descount').val();
        let value5 = $('#rate').val();

        if (value1 != "" && value2 != "" && value3 != "" && value4 != "" && value5 != "") {

            if (value4 != null) {
                var amount = ((value3) - 1) - value2;
                var x = amount * (value5 / 100);
                var Amountoftax = x * (value4 / 100);

            }
            else {
                var amount = value3 - value2;
                var x = amount * (0 / 100);
                var Amountoftax = x * (value5 / 100);
            }

            $('#AmountofDiscount').val(Math.round(x))
            $('#Amountoftax').val(Math.round(Amountoftax))

            $('#AmountofDiscountt').val(Math.round(x))
            $('#Amountoftaxx').val(Math.round(Amountoftax))
            //else {
        }
    }

</script>


<script>
    var t = document.title;
    document.title = t + " - " + "Create Taxes"
</script>




