@model IEnumerable<Model.SalarySheet>

<table id="demo" class="table table-striped table-bordered table-sm " cellspacing="0" width="100%">
    <thead>
        <tr>
            <td colspan="27" class="text-center">الاجور والمرتبات عن شهر/</td>

        </tr>
        <tr>
            <th class="text-center" colspan="5" style="background:#F2F2F2">مرتبات قسم مراقبي الجوده م</th>
            <th class="text-center" colspan="10"> الاستحقاقات</th>
            <th class="text-center" colspan="11" style="background:#F2F2F2; border-left:2px solid red"> الاستقطاعات</th>
        </tr>

    </thead>
    <tbody class="text-center" id="tbody">
        <tr>
            <td rowspan="2">كود</td>
            <td rowspan="2">الاسم</td>
            <td colspan="2">عدد الايام</td>
            <td rowspan="2">الاجر الشهري</td>
            <td rowspan="2">قيمه عدد الايام</td>
            <td rowspan="2">حافز انتظام</td>
            <td rowspan="2">عدد ساعات الاضافي</td>
            <td rowspan="2">معدل ساعه الاضافي</td>
            <td rowspan="2">قيمه ساعات الاضافي</td>
            <td rowspan="2">حافز مهاره</td>
            <td rowspan="2">غلاء معيشه</td>
            <td rowspan="2">جمله المستحق</td>
            <td colspan="2">تامينات</td>
            <td rowspan="2">ح اساسي</td>
            <td rowspan="2">ح متغير</td>
            <td rowspan="2">سلف</td>
            <td colspan="3">خصومات</td>
            <td colspan="1" rowspan="2">ملبس</td>
            <td colspan="1" rowspan="2">جمله مستقطع</td>
            <td colspan="1" rowspan="2">صافي المرتب</td>
            <td colspan="1" rowspan="2">عدم الغياب</td>
            <td colspan="1" rowspan="2">التاريخ</td>

        </tr>
        <tr>
            <td>نهار</td>
            <td>اجازة </td>
            <td>اساسي</td>
            <td>متغير </td>
            <td>غياب</td>
            <td>جزاءات</td>

            <td>تاخيرات</td>



        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.Name</td>
                <td>@item.NoOfDateMorning</td>
                <td>@item.NoOfDateVacation</td>
                <td>@item.SalaryManth</td>
                <td>@item.NumberOfDays</td>
                <td>@item.RegularityIncentive</td>
                <td>@item.Overtime</td>
                <td>@item.OvertimeRate</td>
                <td>@item.OvertimeValue</td>
                <td>@item.SkillIncentive</td>
                <td>@item.expensiveLivingConditons</td>
                <td>@item.OutstandingSentence</td>
                <td>@item.BasicInsurance</td>
                <td>@item.VariableInsurance</td>
                <td>@item.H_Basic</td>
                <td>@item.H_Variable</td>
                <td>@item.Loans</td>
                <td>@item.AbsenceDiscount</td>
                <td>@item.SanctionsDiscount</td>
                <td>@item.DiscountDelays</td>
                <td>@item.Candied</td>
                <td>@item.InterruptedSentence</td>
                <td>@item.NetSalary</td>
                <td>@item.NotToBeAbsent</td>
                <td>@item.Date</td>
            </tr>
        }

    </tbody>
</table>

