@model Model.BasicBayWork

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .ui-dialog-titlebar-close {
        visibility: hidden;
    }
</style>

   Master Data/ Basicbaywork / Update BasicBayWork for Employee No @Services.EmployeeService.GetById(Model.EmployeeId).EmployeeNo
@using (Html.BeginForm("Edit", "BasicBayWork", FormMethod.Post))
{
    <div class="card">

        <div class="container">
            <div class="card-header row" style="  padding-left: 0;padding-right: 0;">
                <div class="col-md-6" style="padding-left:0">
                    <h5 class="text-capitalize btn">BasicBayWork</h5>

                </div>
                <div class="col-md-6" style="text-align:right; padding-right:0">
                    <a class="btn btn-primary" href="/BasicBayWork/Index?Length=8" style="
    border-radius: 0px 0px 2px 30px;
">Back to index</a>
                    @*<button type="submit" class="btn btn-primary ">Add</button>*@
                </div>
            </div>
        </div>
        <form>
            <div class="container mt-5">

                <div class="row ">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Employee Number</label>
                                    <div class="col-sm-8">
                                        @Html.EditorFor(ww => ww.Employee.FileNumber, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Employee No", disabled = "true" } })

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">First Name</label>
                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.FirstName, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "First Name", disabled = "true" } })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(ww => ww.Employee.LastName, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })

                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.LastName, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Last Name", disabled = "true" } })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(ww => ww.Employee.Personal.Status, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })

                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.Personal.Status.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Status", disabled = "true" } })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(ww => ww.Employee.TypeEmployeeId, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })

                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.TypeEmployee.Value, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Type", disabled = "true" } })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(ww => ww.Employee.ClassId, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })

                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.Class.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Class", disabled = "true" } })

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Shift ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" value="@Model.Shift.ShiftId" class="form-control gg" id="Shift_Id" name="Shift_Id" placeholder="Select Value..."><span class="ion-navicon-round aa" style="position: absolute;right:22px;top:6px; cursor: pointer;">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm"> Shift Name</label>
                                    <div class="col-sm-8">
                                        @*<input type="text" class="form-control form-control-sm" id="colFormLabelLg" placeholder="col-form-label-lg">*@
                                        @Html.EditorFor(ww => ww.Shift.ShiftName, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Shift Name", disabled = "true" } })
                                        @Html.ValidationMessageFor(ww => ww.Shift.ShiftName, "", htmlAttributes: new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group row">
                                    @Html.LabelFor(ww => ww.Employee.Personal.PersonalArea, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })

                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.Personal.PersonalArea, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Personal Area", disabled = "true" } })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(ww => ww.Employee.Personal.PersonalSubArea, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })

                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.Personal.PersonalSubArea, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Personal Sub Area", disabled = "true" } })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(ww => ww.Employee.Personal.Division, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })

                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.Personal.Division, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Division", disabled = "true" } })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(ww => ww.Employee.Personal.SubDivision, htmlAttributes: new { @class = "col-sm-4 col-form-label col-form-label-sm" })

                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.Personal.SubDivision, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "Sub Division", disabled = "true" } })

                                    </div>
                                </div>
                                
                                @*<div class="form-group row">
                                    <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">File No.</label>

                                    <div class="col-sm-8">

                                        @Html.EditorFor(ww => ww.Employee.FileNumber, new { htmlAttributes = new { @class = "form-control form-control-sm", Placeholder = "File Number", disabled = "true" } })

                                    </div>
                                </div>*@

                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Spare Shift Id</label>
                                    <div class="col-sm-8">
                                        @Html.DropDownListFor(ww => ww.SpareShiftId, ViewBag.SpareShifts as SelectList, "Select Spare Shift ......", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Date From</label>
                                    <div class="col-sm-8">
                                        <input type="date" value="2021-04-13" class="form-control DateFrom" id="DateFrom" name="DateFrom" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="colFormLabel" class="col-sm-4 col-form-label">Date To</label>
                                    <div class="col-sm-8">
                                        <input type="date" value="2021-05-12" class="form-control DateTo" id="DateTo" name="DateTo" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- start tabel-->
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="">
                            <!-- Row start -->
                            <div class="row m-b-30">

                                <div class="col-lg-12 col-xl-12 col-sm-12">
                                    <!--<div class="sub-title">Default</div>-->
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs md-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#Personal" role="tab"> Details</a>
                                            <div class="slide"></div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " data-toggle="tab" href="#SalaryDetails" role="tab">Salary Details </a>
                                            <div class="slide"></div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " data-toggle="tab" href="#Insurance" role="tab">Insurance Details  </a>
                                            <div class="slide"></div>
                                        </li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <!-- start tab one-->
                                    <div class="tab-content card-block">
                                        <div class="tab-pane active" id="Personal" role="tabpanel">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group row" hidden>
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label">Start Date</label>
                                                            <div class="col-sm-8">
                                                                @Html.EditorFor(ww => ww.EmployeeId, new { htmlAttributes = new { @class = "form-control", Placeholder = "Start Time" } })
                                                            </div>
                                                        </div>


                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Pay Scale Area</label>
                                                            <div class="col-sm-8">

                                                                @Html.DropDownListFor(ww => ww.PayScaleAreaId, ViewBag.payScaleArea as SelectList, "Select Pay Scale Area", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Pay Scale Type</label>
                                                            <div class="col-sm-8">

                                                                @Html.DropDownListFor(ww => ww.PayScaleTypeId, ViewBag.payScaleType as SelectList, "select Pay Scale Type", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Grade</label>
                                                            <div class="col-sm-8">
                                                                @Html.DropDownListFor(ww => ww.GradeId, ViewBag.grade as SelectList, "select Grade", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Level</label>
                                                            <div class="col-sm-8">
                                                                @Html.DropDownListFor(ww => ww.LevelId, ViewBag.level as SelectList, "select Level", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Vacation in Year</label>
                                                            <div class="col-sm-8">
                                                                @Html.EditorFor(ww => ww.NumberOfVacationInYear, new { htmlAttributes = new { @class = "form-control", Placeholder = "Number of vacation in year" } })
                                                                @Html.ValidationMessageFor(ww => ww.NumberOfVacationInYear, "", htmlAttributes: new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Allowance Group</label>
                                                            <div class="col-sm-8">
                                                                @Html.DropDownListFor(ww => ww.AllowanceGroupId, ViewBag.allowancegroup as SelectList, "select Allowance Group", htmlAttributes: new { @class = "custom-select form-control-sm w-100" })
                                                            </div>
                                                        </div>



                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label">Annual Salary</label>
                                                            <div class="col-sm-8">
                                                                @Html.EditorFor(ww => ww.AnnualBasic, new { htmlAttributes = new { @class = "form-control", Placeholder = "Annual Basic", disabled = "true" } })
                                                                @Html.ValidationMessageFor(ww => ww.AnnualBasic, "", htmlAttributes: new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label">Total Salary</label>
                                                            <div class="col-sm-8">
                                                                @Html.EditorFor(ww => ww.TotalSalary, new { htmlAttributes = new { @class = "form-control", Placeholder = "Monthly Basic" } })
                                                                @Html.ValidationMessageFor(ww => ww.TotalSalary, "", htmlAttributes: new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Vacation in Manth</label>
                                                            <div class="col-sm-8">
                                                                @Html.EditorFor(ww => ww.NumberOfVacationInManth, new { htmlAttributes = new { @class = "form-control", Placeholder = "Number of vacation in manth" } })
                                                                @Html.ValidationMessageFor(ww => ww.NumberOfVacationInManth, "", htmlAttributes: new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label for="colFormLabel" class="col-sm-4 col-form-label-sm">Stage Vacations</label>
                                                            <div class="col-sm-8">
                                                                @Html.EditorFor(ww => ww.NumberOfStageVacations, new { htmlAttributes = new { @class = "form-control", Placeholder = "Stage vacations" } })
                                                                @Html.ValidationMessageFor(ww => ww.NumberOfStageVacations, "", htmlAttributes: new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" hidden>
                                                            <div class="col-sm-8">
                                                                @Html.EditorFor(ww => ww.IsCreated)
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>
                                                <div class="row mt-5">

                                                    <div class="col-md-6">


                                                        <div class=" form-group row">
                                                            <label class=" col-sm-4 col-form-label-sm" for="exampleCheck1">Regularity Incetive </label>
                                                            <div class="col-sm-1 pt-2">
                                                                @if ((Model.NumberOfDays == null || Model.NumberOfDays == 0) && (Model.ConstValue == null || Model.ConstValue == 0))
                                                                {
                                                                    <input type="checkbox" class="form-check-input form-control " id="Regularity">
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" class="form-check-input form-control " id="Regularity" checked>
                                                                }
                                                            </div>

                                                            <div class="col-sm-7 row ">
                                                                <div class="col-md-12 row mt-2 mb-3">
                                                                    <div class="col-md-7 ">
                                                                        <div class="row p-0">
                                                                            <div class="col-md-4">
                                                                                @if (Model.IsNumberDaysOnly == true)
                                                                                {
                                                                                    <input type="radio" id="female" name="gender" class="Regularityvalue" value="NoOfDays" checked>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="radio" id="female" name="gender" class="Regularityvalue" value="NoOfDays">
                                                                                }
                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <label for="female">Number of days </label><br>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5 p-0">
                                                                        @if (Model.IsNumberDaysOnly == true)
                                                                        {
                                                                            <input type="number" name="days" value="@Model.NumberOfDays" class="form-check-input form-control col-md-12 " id="day">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="number" name="days" class="form-check-input form-control col-md-12" id="day">
                                                                        }
                                                                    </div>


                                                                </div>

                                                                <div class="col-md-12 row mt-2 mb-3">
                                                                    <div class="col-md-7">
                                                                        <div class="row">
                                                                            <div class="col-md-4">

                                                                                @if (Model.IsConstValueOnly == true)
                                                                                {
                                                                                    <input type="radio" id="femaleee" name="gender" class="Regularityvalue" value="ConstNo" checked>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="radio" id="femaleee" name="gender" class="Regularityvalue" value="ConstNo">
                                                                                }

                                                                            </div>
                                                                            <div class="col-md-8">
                                                                                <label for="female">  Fixed Number</label><br>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5 p-0">
                                                                        @if (Model.IsConstValueOnly == true)
                                                                        {
                                                                            <input type="number" name="cons" value="@Model.ConstValue" class="form-check-input form-control col-md-12 " id="value">
                                                                        }
                                                                        else
                                                                        {
                                                                            <input type="number" name="cons" class="form-check-input form-control col-md-12 " id="value">
                                                                        }
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-12 row mt-2 mb-3">
                                                                    <div class="col-md-7">
                                                                        <div class="row">
                                                                            <div class="col-md-4">

                                                                                @if (Model.AreNumberAndConstValue == true)
                                                                                {
                                                                                    <input type="radio" id="femalee" name="gender" class="Regularityvalue" value="DayAndConst" checked>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="radio" id="femalee" name="gender" class="Regularityvalue" value="DayAndConst">
                                                                                }
                                                                            </div>
                                                                            <div class="col-md-8 ">
                                                                                <label for="female"> Number of days </label><br>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-5 p-0">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                @if (Model.AreNumberAndConstValue == true)
                                                                                {
                                                                                    <input type="number" name="days" value="@Model.NumberOfDays" class="form-check-input form-control col-md-12 numday " id="days">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="number" name="days" class="form-check-input form-control col-md-12 numday " id="days">
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 row mt-2 mb-3">
                                                                    <div class="col-md-7">
                                                                        <div class="row">

                                                                            <div class="col-md-8 offset-4">
                                                                                <label for="female">Value</label><br>

                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                    <div class="col-md-5 p-0">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                @if (Model.AreNumberAndConstValue == true)
                                                                                {
                                                                                    <input type="number" value="@Model.ConstValue" name="cons" class="form-check-input form-control col-md-12 numday " id="values">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <input type="number" name="cons" class="form-check-input form-control col-md-12 numday " id="values">
                                                                                }
                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group row">
                                                            <label class=" col-sm-4 col-form-label-sm" for="exampleCheck1">   Overtime Rate</label>
                                                            <div class="col-sm-7 offset-1">
                                                                <input type="number" value="@Model.Overtime" name="Overtime" class="form-check-input form-control " placeholder="Overtime Rate" id="">
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label class=" col-sm-4 col-form-label-sm" for="exampleCheck1">Incentive management</label>
                                                            <div class="col-sm-7 offset-1">
                                                                <input type="number" value="@Model.IncentiveIncentiveForAbsence" placeholder="Incentive management" name="IncentiveIncentiveForAbsence" class="form-check-input form-control " id="">
                                                            </div>
                                                        </div>

                                                        <div class=" form-group row">
                                                            <label class=" col-sm-4 col-form-label-sm" for="exampleCheck1">Skill Incetive </label>
                                                            <div class="col-sm-1 pt-2">
                                                                @if (Model.IsSkillIncetive == true)
                                                                {
                                                                    <input type="checkbox" class="form-check-input form-control " id="Skill" checked>
                                                                }

                                                                else
                                                                {
                                                                    <input type="checkbox" class="form-check-input form-control " id="Skill">
                                                                }
                                                            </div>
                                                            <div class="col-sm-7">
                                                                @if (Model.IsSkillIncetive == true)
                                                                {
                                                                    <input type="number" value="@Model.SkillIncentive" name="SkillIncentive" class="form-check-input form-control " id="Skillvalue">
                                                                }
                                                                else
                                                                {
                                                                    <input type="number" name="SkillIncentive" class="form-check-input form-control " id="Skillvalue" disabled>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class=" form-group row">
                                                            <label class=" col-sm-4 col-form-label-sm" for="exampleCheck1">  Expesive Living </label>
                                                            <div class="col-sm-1 pt-2">
                                                                @if (Model.IsExpesiveLiving == true)
                                                                {
                                                                    <input type="checkbox" class="form-check-input form-control " id="living" checked>
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" class="form-check-input form-control " id="living">
                                                                }
                                                            </div>
                                                            <div class="col-sm-7">

                                                                @if (Model.IsExpesiveLiving == true)
                                                                {
                                                                    <input type="number" value="@Model.ExpensiveLivingConditons" name="ExpensiveLivingConditons" class="form-check-input form-control " id="livingvalue">
                                                                }
                                                                else
                                                                {
                                                                    <input type="number" name="ExpensiveLivingConditons" class="form-check-input form-control " id="livingvalue" disabled>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- start tabel-->
                                                <!-- end tabel-->
                                            </div>
                                        </div>
                                        <!-- end tab one-->
                                        <div class="tab-pane " id="SalaryDetails" role="tabpanel">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="row mt-3">

                                                            <div class="col-md-12">
                                                                <div class="card">
                                                                    <div class="">
                                                                        <div class="table-responsive">
                                                                            <table class="table table-striped table-bordered" id="example-1">

                                                                                <thead>
                                                                                    <tr>
                                                                                        <th style="display: none;">#</th>
                                                                                        <th>#</th>
                                                                                        <th>Wage Type</th>
                                                                                        <th>Amount</th>
                                                                                        <th>Currency</th>
                                                                                    </tr>
                                                                                </thead>

                                                                                <tbody>

                                                                                    @{ int count = 1;}
                                                                                    @foreach (var itm in ViewBag.basicBayWorkLines)
                                                                                    {
                                                                                        <tr class="test">

                                                                                            <td>@(count)</td>

                                                                                            <td class="Wages_List">
                                                                                                @*@Html.DropDownListFor(ww => ww.Id, ViewBag.wage as SelectList, htmlAttributes: new { @class = "form-control wag" })*@
                                                                                                @itm.WageCode.Name
                                                                                            </td>

                                                                                            @*<td class="Amount">@itm.Amount </td>*@
                                                                                            <td class="Amount">
                                                                                                @* @Html.TextBox("amount1", (Decimal?)@itm.Amount)*@
                                                                                                <input type="number" name="amount1" value="@itm.Amount" id="Amount_@count" class="form-control amount1" onkeyup="CalcSalary(this)" placeholder="Amount" />
                                                                                            </td>
                                                                                            @*<td class="Selected_Currency"> @Html.DropDownListFor(x => x.Id, ViewBag.Currency_List as SelectList, "Select Currancy",htmlAttributes: new { @class = "form-control curr" })</td>*@
                                                                                            <td class="Selected_Currency">
                                                                                                <select class="form-control curr" name="Id">
                                                                                                    <option value="0">
                                                                                                        Select Currancy
                                                                                                    </option>
                                                                                                    @foreach (var item in ViewBag.currencies)
                                                                                                    {
                                                                                                        if (item.Id == ViewBag.curr)
                                                                                                        {
                                                                                                            <option value="@item.Id" selected>
                                                                                                                @item.Name
                                                                                                            </option>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <option value="@item.Id">
                                                                                                                @item.Name
                                                                                                            </option>
                                                                                                        }
                                                                                                    }

                                                                                                </select>
                                                                                            </td>
                                                                                        </tr>
                                                                                        count++;
                                                                                    }
                                                                                </tbody>

                                                                            </table>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane " id="Insurance" role="tabpanel">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @if (ViewBag.Insurance != null)
                                                        {
                                                            <div class="form-group row">
                                                                <label for="colFormLabel" class="col-sm-4 col-form-label"> Employee Fixed Salary</label>
                                                                <div class="col-sm-8">
                                                                    <input placeholder=" Employee Fixed Salary" class="form-control text-box single-line" required="required" id="EmployeeFixedSalary" name="EmployeeFixedSalary" type="number" value="@ViewBag.Insurance.EmployeeFixedSalary">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="colFormLabel" class="col-sm-4 col-form-label"> Insurance Number</label>
                                                                <div class="col-sm-8">
                                                                    <input placeholder="Insurance Number" class="form-control text-box single-line" required id="InsuranceNumber" name="InsuranceNumber" type="text" value="@ViewBag.Insurance.InsuranceNumber">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label for="colFormLabel" class="col-sm-4 col-form-label"> Insurance Authority</label>
                                                                <div class="col-sm-8">
                                                                    <select class="custom-select form-control-sm w-100" , id="InsuranceAuthorities" name="InsuranceAuthorities">
                                                                        <option value="">
                                                                            Select ....
                                                                        </option>
                                                                        @foreach (var item in ViewBag.InsuranceAuthorities)
                                                                        {
                                                                            if (item.Id == @ViewBag.Insurance.InsuranceAuthorityId)
                                                                            {
                                                                                <option selected>
                                                                                    @item.Name
                                                                                </option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option>
                                                                                    @item.Name
                                                                                </option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="form-group row">
                                                                <label for="colFormLabel" class="col-sm-4 col-form-label"> Employee Fixed Salary</label>
                                                                <div class="col-sm-8">
                                                                    <input placeholder=" Employee Fixed Salary" class="form-control text-box single-line" required="required" id="EmployeeFixedSalary" name="EmployeeFixedSalary" type="number">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="colFormLabel" class="col-sm-4 col-form-label"> Insurance Number</label>
                                                                <div class="col-sm-8">
                                                                    <input placeholder="Insurance Number" class="form-control text-box single-line" id="InsuranceNumber" name="InsuranceNumber" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label for="colFormLabel" class="col-sm-4 col-form-label"> Insurance Authority</label>
                                                                <div class="col-sm-8">
                                                                    <select class="custom-select form-control-sm w-100" , id="InsuranceAuthorities" name="InsuranceAuthorities">
                                                                        <option value="" selected>
                                                                            Select ....
                                                                        </option>
                                                                        @foreach (var item in ViewBag.InsuranceAuthorities)
                                                                        {
                                                                            <option>
                                                                                @item.Name
                                                                            </option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- Row end -->



                        </div>
                    </div>
                </div>
                <!-- end tabel-->


            </div>
            <!--start button-->
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="text-align:left">
                        <button class="btn btn-primary mb-3">Update</button>
                    </div>

                </div>
            </div>
            <!--end button-->
        </form>

    </div>
}
<div class="card cardee mr-4" style="display: none; border:4px solid #7FB9D4" id="dialog">
    <div class="card-block ff scrolltop">

        <div class="row ">
            <div class="col-md-9">
                <input class="mt-4  ml-0 form-control input-sm w-50" onkeyup="myFunction()" id="myInput" type="search" placeholder="search...." aria-controls="add-row-table">
                <br />

            </div>
            <div style="text-align:right !important; cursor:pointer" class="col-md-3" cursor="pointer">
                <i class="fa fa-times-circle fa-2x closee" aria-hidden="true"></i>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th>Shift Id</th>
                        <th>Shift Name</th>
                        <th>Choose</th>

                    </tr>
                </thead>
                <tbody id="myTable" class="k">
                    @foreach (var item in ViewBag.Shift)
                    {
                        <tr>
                            <th class="idd">@item.ShiftId</th>
                            <td>@item.ShiftName</td>
                            <td class="tabledit-view-mode hh">
                                <button class="btn btn-primary choose kk btnSelect"> choose</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>


<script type="text/javascript" src="~/bower_components/jquery/js/jquery.min.js"></script>
<script src="~/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/bower_components/popper.js/js/popper.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>

    var Currencies_List = [];
    var Amounts = [];
    //var Wage_List = [];
    function GetTableData() {
        // alert("getTableData")



        $('#example-1 tr').each(function () {
            $(this).find('td').each(function () {
                if ($(this).hasClass('Selected_Currency')) {
                    Currencies_List.push($(this).find('option:selected').val());
                    //alert($(this).find('option:selected').val())
                    //alert(Currencies_List)
                }
                else if ($(this).hasClass('Amount')) {
                    //alert($(this).find('input').val());
                    Amounts.push($(this).find('input').val());
                    alert(Amounts)
                }

            })
        })
    }

</script>
<script>
    $(document).ready(function () {

        let x = document.getElementById("female").checked;
        if (x == true) {
            $("#value").attr("disabled", "");
            $("#days").attr("disabled", "");
            $("#values").attr("disabled", "");
        }
        else {
            $("#day").attr("disabled", "");
        }

        $("#female").change(function () {
            x = document.getElementById("female").checked;
            if (x == true) {
                $("#day").removeAttr("disabled");
                $("#value").attr("disabled", "");
                $("#days").attr("disabled", "");
                $("#values").attr("disabled", "");
            }
        })

        let y = document.getElementById("femaleee").checked;
        if (y == true) {
            $("#day").attr("disabled", "");
            $("#days").attr("disabled", "");
            $("#values").attr("disabled", "");
        }
        else {
            $("#value").attr("disabled", "");
        }

        $("#femaleee").change(function () {
            y = document.getElementById("femaleee").checked;
            if (y == true) {
                $("#value").removeAttr("disabled");
                $("#day").attr("disabled", "");
                $("#days").attr("disabled", "");
                $("#values").attr("disabled", "");
            }
        })

        let z = document.getElementById("femalee").checked;
        if (z == true) {
            $("#day").attr("disabled", "");
            $("#value").attr("disabled", "");
        }
        else {
            $("#days").attr("disabled", "");
            $("#values").attr("disabled", "");
        }

        $("#femalee").change(function () {
            z = document.getElementById("femalee").checked;
            if (z == true) {
                $("#days").removeAttr("disabled");
                $("#values").removeAttr("disabled");
                $("#day").attr("disabled", "");
                $("#value").attr("disabled", "");
            }
        })


        $('.alert').fadeOut(8000),
            $('.close').click(function () {
                $('.alert').hide()
            })
        $('.aa').on('click', function () {
            $(function () {
                $("#dialog").dialog({
                    width: 700,
                    height: 500,



                    /*appendTo: '<div class="card-header"><h5>Edit With Button</h5><span>Click on buttons to perform actions</span><div class="card-header-right"><i class="icofont icofont-rounded-down"></i><i class="icofont icofont-refresh"></i><i class="icofont icofont-close-circled"></i></div></div><div class="card-block"><div class="table-responsive"><table class="table table-striped table-bordered" id="example-2"><thead><tr><th>emp ID</th><th>First name</th><th>Last name</th><th>Choose</th></tr></thead><tbody><tr><th scope="row" class=""><input id="idd"></th><td>Islam</td><td>Ahmed</td><td class="tabledit-view-mode hh"><!-- <select id="dropdownList"><option value="1">Option 1</option> <option value="2">Option 2</option><option value="3">Option 3</option><option value="4">Option 4</option><option value="5">Option 5</option></select>--><button class="btn btn-primary" id="choose"> choose</button></td></tr></tbody></table></div></div>'*/
                });


            });
        });
        $("#xx").on('click', '.btnSelect', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var col1 = currentRow.find("th:eq(0)").text(); // get current row 1st TD value

            var data = col1;
            $('.ll').val(data);
            $('#di').hide()
            alert('Select1')
        });
        $("#xx").on('click', '.btnSelectt', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var col1 = currentRow.find("th:eq(0)").text(); // get current row 1st TD value

            var data = col1;
            $('.ll').val(data);
            $('#di').hide()
            alert('Select2')
        });

    });
    function CalcSalary(e) {
        //sum = sum + parseInt(e.value);
        var sum = 0;

        for (var i = 0; i < $('.Amount').length; i++) {
            let c = i + 1;
            let x = $('#Amount_' + c).val();
            if (x != null && x != undefined && x != "")
                sum = sum + parseInt(x);
        }
        $('#TotalSalary').val(sum);
        let value = sum * 12;
        $('#AnnualBasic').val(value);
    }

    $('#TotalSalary').change(function () {
        let value = parseInt($('#TotalSalary').val()) * 12;
        $('#AnnualBasic').val(value);
    });
</script>

<script>
    var t = document.title;
    document.title = t + " -" + "Edit BasicBayWork"
</script>
<script>
    $(function () {
        $("#myTable").on('click', '.btnSelect', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var col1 = currentRow.find("th:eq(0)").text(); // get current row 1st TD value

            var data = col1;


            // alert(data);

            // alert(data);
            $('.gg').val(data);
            $('#dialog').hide()

            var shiftId = $('#Shift_Id').val();

            $.ajax({
                type: 'POST',
                url:'@Url.Action("GetShiftData")',
                dataType: 'json',
                data: { id: shiftId },
                success: function (mems) {
                    $('#Shift_ShiftName').val(mems.ShiftName);
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
        });

        $("#Skill").change(function () {
            //   alert();
            if (this.checked) {
                $("#Skillvalue").removeAttr("disabled");

            }
            else {
                $("#Skillvalue").attr("disabled", "");

            }
        });
        $("#living").change(function () {
            //   alert();
            if (this.checked) {
                $("#livingvalue").removeAttr("disabled");

            }
            else {
                $("#livingvalue").attr("disabled", "");

            }

        });
        $("#Regularity").change(function () {
            if (this.checked) {
                $(".Regularityvalue").removeAttr("disabled");


            }
            else {
                $(".Regularityvalue").attr("disabled", "");

            }

        });
        //$("#female").change(function () {
        //    if (this.checked) {
        //        $("#hours").removeAttr("disabled");
        //        $(".numday").attr("disabled", "");
        //        $("#day").attr("disabled", "");


        //    }
        //    else {
        //        $("#hours").attr("disabled", "");

        //    }

        //});
        //$("#femalee").change(function () {
        //    if (this.checked) {
        //        $(".numday").removeAttr("disabled");
        //        $("#hours").attr("disabled", "");
        //        $("#day").attr("disabled", "");


        //    }
        //    else {
        //        $(".numday").attr("disabled", "");

        //    }

        //});
        //$("#femaleee").change(function () {
        //    if (this.checked) {
        //        $("#day").removeAttr("disabled");
        //        $(".numday").attr("disabled", "");
        //        $("#hours").attr("disabled", "");


        //    }
        //    else {
        //        $("#day").attr("disabled", "");

        //    }

        //});

    })

</script>
<script>

    $(document).ready(function () {
        $('.kk').click(function () {
        })
        $('.btnSelect').on('click', function () {
            //var optionValue = $(this).val();
            //var optionText = $('#dropdownList option[value="'+optionValue+'"]').text();
            var optionText = $(".idd").text();
            alert(optionText)
            alert("Selected Option Text: " + optionText);
            $('.mm').val(optionText)
            alert('Select4')
        })
</script>
<script>
    $(document).ready(function () {
        $('.alert').fadeOut(8000),
            $('.close').click(function () {
                $('.alert').hide()
            })
        $('.closee').click(function () {
            $('.cardee').hide()
        })
        $(".btnSelect").on('click', function () {
            var x = $(".idd").text()
            var y = $('.gg');
            y.val() = x
            alert('Select5')
        })
    });
</script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            alert('Select6')
        });
    });
</script>
<script>
    $(function () {
        $('.aa').click(function () {
            var tr = $('.k ').find('tr').length;
            console.log(tr)

            if (tr >= 6) {
                $('.table-responsive').css('overflow-y', "scroll");
                $('.table-responsive').css('height', "340px")

            }
            else {
                $('.table-responsive').css('overflow', "hidden");

            }
        })
    })
</script>
